<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="configFragment">
    <meta charset="UTF-8"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/sidebar.css}">
    <script src='https://unpkg.com/splitting/dist/splitting.min.js'></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" th:src="@{/js/common/header.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/sidebar.js}"></script>
</head>
</html>