<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="default_sidebarFragment">
    <div class="side-bar active">
        <div class="menu">
            <div class="item"><a href="#">학습그룹 등록</a></div>
            <div class="item">
                <a class="sub-btn">학습그룹 조회<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a href="#" class="sub-item">추가1</a>
                    <a href="#" class="sub-item">추가2</a>
                    <a href="#" class="sub-item">추가3</a>
                </div>
            </div>
            <div class="item"><a href="#">학습그룹 가입 승인</a></div>
            <div class="item">
                <a class="sub-btn-active" style="color: #FFFFFF;">숙제 생성<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu" style="display: none;">
                    <a href="#" class="sub-item">추가1</a>
                    <a href="#" class="sub-item">추가2</a>
                </div>
            </div>
            <div class="item"><a href="#">숙제 배포</a></div>
            <div class="item"><a href="#">숙제 진도 조회</a></div>
        </div>
    </div>
</th:block>
</html>