<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <div class="foot">
    <footer id="footer">
        <div class="f_layout" id="_layer">
            <div class="footer-content">
            <ul class="f_team">
                <li><a href="" data-nclk="foot.service">Betago Team</a></li>
                <br>
                <p>최도훈,박윤태,이윤지,이희민,김현민,허유진,홍진호</p>
            </ul>
            <dl class="f_terms">
                <dd>
                    <a href="">이용약관</a>
                    <span class="bar"></span>
                    <a href=""><strong>개인정보처리방침</strong></a>
                </dd>
            </dl>
            <div class="f_terms_addres_box">
                <ul class="addres_list">
                    <li>소재지: 서울 강남구 테헤란로 7길 7(역삼동 에스코빌딩 6층)</li>
                    <li>고객센터: https://github.com/BetagoPro/Baduk</li>
                </ul>
            </div>
            <p class="copyright">
                © Betago Connect All Rights Reserved. Powered by BETAGO
            </p>
            </div>
        </div>
    </footer>
    </div>
</th:block>
</html>