
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betago 웹사이트</title>
</head>
<body>
<!-- 헤더 프래그먼트 시작 -->
<th:block th:fragment="headerFragment">
    <nav>
        <section class="header-navi">
            <i id="main_sideBtn" class='bx bx-menu'></i>
            <section class="header_top">
                <img th:src="@{/image/main/main-logo.png}" alt="Betago Header Image" class="header-image">
                <span class="top_info">Betago를 보다 편리하고 안전하게 이용하세요.</span>
                <a href="/login" class="loginBtn" sec:authorize="isAnonymous()">로그인/회원가입</a>
                <!--임시로그아웃 김현민-->
                <form id="logoutForm" method="post" action="/logout" style="display: none;"></form>
                <button onclick="document.getElementById('logoutForm').submit();" class="logoutBtn" sec:authorize="isAuthenticated()">로그아웃</button>
                <!--임시로그아웃 김현민 끝-->
            </section>
            <div class="logo"><a th:href="@{/}">둑며들다</a></div>
            <span>바둑에 스며들다</span>
            <div class="navi_links">
                <div class="sidebar-logo">
                    <span class="logo-name">Betago</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li class="first_li"><a th:href="@{/}">홈</a></li>
                    <li class="first_li">
                        <a class="aa" th:href="@{/introduction/site}">이용안내</a>
                        <i class='bx bxs-chevron-up useInfo-arrow arrow'></i>
                        <ul class="useInfo-sub-menu sub-menu">
                            <li><a th:href="@{/introduction/site}">사이트 소개</a></li>
                            <li><a th:href="@{/manual/list}">이용 가이드</a></li>
                            <li class="more">
                                <a th:href="@{/contents/contentsGame}">컨텐츠소개</a>
                                <i class='bx bxs-chevron-right arrow more-arrow'></i>
                                <ul class="more-sub-menu sub-menu">
                                    <li><a th:href="@{/contents/contentsGame}">바둑 게임(앱)</a></li>
                                    <li><a th:href="@{/contents/contentsTutorial}">튜토리얼</a></li>
                                    <li><a th:href="@{/contents/contentsVideo}">바둑 영상</a></li>

                                </ul>
                            </li>
                            <li><a th:href="@{/notice/list}">공지사항</a></li>
                            <li><a th:href="@{/FAQ/list}">FAQ</a></li>
                            <li><a th:href="@{/question/list}">Q&A</a></li>
                        </ul>
                    </li>
                    <li class="first_li" sec:authorize="!hasRole('STUDENT')">
                        <a th:href="@{/game/list}">구독서비스</a>
                        <i class='bx bxs-chevron-up subscribe-arrow arrow'></i>
                        <ul class="subscribe-sub-menu sub-menu">
                            <li><a th:href="@{/game/list}">게임 컨텐츠 구매</a></li>
                            <li sec:authorize="!hasRole('ADMIN')"><a th:href="@{/list}">내 게임 컨텐츠 조회</a></li>
                        </ul>
                    </li>
                    <li class="first_li" sec:authorize="hasRole('STUDENT')">
                        <a>구독서비스</a>
                        <i class='bx bxs-chevron-up subscribe-arrow arrow'></i>
                        <ul class="subscribe-sub-menu sub-menu">
                            <li class="mismatch">권한이 없습니다.</li>
                        </ul>
                    </li>
                    <li class="first_li" sec:authorize="hasRole('STUDENT')">
                        <a th:href="@{/student/group/joinList}">학습서비스</a><i class='bx bxs-chevron-up learning-arrow arrow'></i>
                        <ul class="learning-sub-menu sub-menu">
                            <li><a th:href="@{/student/group/joinList}">학습그룹 가입신청</a></li>
                            <li><a th:href="@{/student/group/myJoinList}">학습그룹 신청 내역</a></li>
                            <li><a th:href="@{/student/taskList}">숙제 제출</a></li>
                            <li><a th:href="@{/student/submitTaskList}">숙제 제출 목록</a></li>
                        </ul>
                    </li>
                    <li class="first_li" sec:authorize="!hasRole('STUDENT')">
                        <a>학습서비스</a><i class='bx bxs-chevron-up learning-arrow arrow'></i>
                        <ul class="learning-sub-menu sub-menu">
                            <li class="mismatch">권한이 없습니다.</li>
                        </ul>
                    </li>
                    <li class="first_li" sec:authorize="hasRole('TEACHER')">
                        <a th:href="@{/educator/group/addList}">교육자마당</a><i class='bx bxs-chevron-up educator-arrow arrow'></i>
                        <ul id="service" class="educator-sub-menu sub-menu">
                            <li><a th:href="@{/educator/group/addList}">학습그룹 등록</a></li>
                            <li><a th:href="@{/educator/group/list}">학습그룹 조회</a></li>
                            <li><a th:href="@{/educator/group/approveList}">학습그룹 가입 승인</a></li>
                            <li><a th:href="@{/educator/createTaskForm}">숙제 생성</a></li>
                            <li><a th:href="@{/educator/sendTask}">숙제 배포</a></li>
                            <li><a th:href="@{/educator/evalTask}">숙제 평가</a></li>
                        </ul>
                    </li>
                    <li class="first_li" sec:authorize="!hasRole('TEACHER')">
                        <a>교육자마당</a><i class='bx bxs-chevron-up educator-arrow arrow'></i>
                        <ul class="educator-sub-menu sub-menu">
                            <li class="mismatch">권한이 없습니다</li>
                        </ul>
                    </li>
                    <li class="first_li" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/game/insert}">운영마당</a><i class='bx bxs-chevron-up admin-arrow arrow'></i>
                        <ul class="admin-sub-menu sub-menu">
                            <li><a th:href="@{/game/insert}">게임컨텐츠 등록</a></li>
                            <li><a th:href="@{/edupost/insert}">학습자료 등록</a></li>
                            <li><a th:href="@{/edupost/list}">학습자료 조회</a></li>
                            <li><a th:href="@{/admin/notice/write}">공지 등록</a></li>
                            <li><a th:href="@{/admin/noticeManage/list}">공지 관리</a></li>
                            <li><a th:href="@{/member/list}">회원조회</a></li>
                            <li><a th:href="@{/game/salesList}">매출 조회</a></li>
                        </ul>
                    </li>
                    <li class="first_li" sec:authorize="hasAnyRole('TEACHER','USER')">
                        <a th:href="@{/edupost/list}">운영마당</a><i class='bx bxs-chevron-up admin-arrow arrow'></i>
                        <ul class="admin-sub-menu sub-menu">
                            <li><a th:href="@{/edupost/list}">학습자료 조회</a></li>
                        </ul>
                    </li>
                    <li class="first_li" sec:authorize="hasAnyRole('STUDENT','ANONYMOUS')">
                        <a>운영마당</a><i class='bx bxs-chevron-up admin-arrow arrow'></i>
                        <ul class="admin-sub-menu sub-menu">
                            <li class="mismatch">권한이 없습니다</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
</th:block>
</body>
</html>