<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- 스타일 시트 파일 경로 -->

    <!-- 페이지 제목 -->
    <title>Betago 웹사이트</title>
</head>
<body>
<!-- 헤더 프래그먼트 시작 -->
<th:block th:fragment="headerFragment">
    <nav>
        <section class="header-navi">
            <img th:src="@{/image/baduk5.png}" alt="Betago Header Image" class="header-image">
            <i id="main_sideBtn" class='bx bx-menu'></i>
            <section class="header_top">
                <span class="top_info">Betago를 보다 편리하고 안전하게 이용하세요.</span>
                <a href="/login" class="loginBtn">로그인/회원가입</a>
                <!--임시로그아웃 김현민-->
                <form id="logoutForm" method="post" action="/logout" style="display: none;"></form>
                <button onclick="document.getElementById('logoutForm').submit();" class="logoutBtn">로그아웃</button>
                <!--임시로그아웃 김현민 끝-->
            </section>
            <div class="logo"><a th:href="@{/}">둑며들다</a></div>
            <span>바둑에 스며들다</span>
            <div class="navi_links">
                <div class="sidebar-logo">
                    <span class="logo-name">Betago</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li class="first_li"><a th:href="@{/}>홈</a></li>
                    <li class="first_li">
                        <a href="#">이용안내</a>
                        <i class='bx bxs-chevron-up useInfo-arrow arrow'></i>
                        <ul class="useInfo-sub-menu sub-menu">
                            <li><a href="#">사이트 소개</a></li>
                            <li><a href="#">이용 가이드</a></li>
                            <li class="more">
                                <a href="#">컨텐츠소개</a>
                                <i class='bx bxs-chevron-right arrow more-arrow'></i>
                                <ul class="more-sub-menu sub-menu">
                                    <li><a href="#">바둑 게임(앱)</a></li>
                                    <li><a href="#">튜토리얼</a></li>
                                    <li><a href="#">바둑 영상</a></li>
                                </ul>
                            </li>
                            <li><a href="/notice/list">공지사항</a></li>
                            <li><a href="/FAQ/list">FAQ</a></li>
                            <li><a href="#">Q&A</a></li>
                        </ul>
                    </li>
                    <li class="first_li">
                        <a href="#">구독서비스</a>
                        <i class='bx bxs-chevron-up subscribe-arrow arrow'></i>
                        <ul class="subscribe-sub-menu sub-menu">
                            <li><a href="@{/game/list}">게임 컨텐츠 구매</a></li>
                            <li><a th:href="@{/list}">내 게임 컨텐츠 조회</a></li>
                        </ul>
                    </li>
                    <li class="first_li">
                        <a th:href="@{/student/group/joinList}">학습서비스</a><i class='bx bxs-chevron-up learning-arrow arrow'></i>
                        <ul class="learning-sub-menu sub-menu">
                            <li><a th:href="@{/student/group/joinList}">학습그룹 가입신청</a></li>
                            <li><a th:href="@{/student/taskList}">숙제 진도 등록</a></li>
                            <li><a th:href="@{/student/submitTaskList}">제출 숙제 목록</a></li>
                        </ul>
                    </li>

                    <li class="first_li">
                        <a th:href="@{/educator/group/addList}"s>교육자마당</a><i class='bx bxs-chevron-up educator-arrow arrow'></i>
                        <ul id="service" class="educator-sub-menu sub-menu">
                            <li><a th:href="@{/educator/group/addList}">학습그룹 등록</a></li>
                            <li><a th:href="@{/educator/group/list}">학습그룹 조회</a></li>
                            <li><a >학습그룹 가입 승인</a></li>
                            <li><a th:href="@{/educator/createTaskForm}">숙제 생성</a></li>
                            <li><a th:href="@{/educator/sendTask}">숙제 배포</a></li>
                            <li><a th:href="@{/educator/evalTask}">숙제 학습진도 조회</a></li>
                        </ul>
                    </li>
                    <li class="first_li">
                        <a href="#">운영마당</a><i class='bx bxs-chevron-up admin-arrow arrow'></i>
                        <ul class="admin-sub-menu sub-menu">
                            <li><a href="@{/game/insert}">게임컨텐츠 등록</a></li>
                            <li><a href="@{/edupost/insert}">교육자료 등록</a></li>
                            <li><a href="#">게시물 등록</a></li>
                            <li><a href="#">매출조회</a></li>
                            <li><a href="#">회원조회</a></li>
                            <li><a href="#">숙제 학습진도 조회</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
</th:block>
</body>
</html>
