@charset "UTF-8";

.imgbox .image-slider img {
     width:200px;
     height:200px;
     margin: 10px;
}
.first-contents {
    display: flex;
    padding: 50px;
    align-items: center;
    font-size: 19px;
    border-bottom: 1px dashed;
    gap: 30px;
}
.first-contents .title{
font-size: 30px;
font-weight: bold;
}

.imgbox{
    margin-left: 0;
    box-shadow: 1px 1px 14px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}
.contents-title{
    margin-left: 0;
    display: grid;
    text-align: center;
}
.second-contents {
    display: flex;
    padding: 50px;
    align-items: center;
    font-size: 19px;
    border-bottom: 1px dashed;
    gap: 30px;
}
.second-contents .title{
font-size: 30px;
font-weight: bold;
}
.third-contents {
    display: flex;
    padding: 50px;
    align-items: center;
    font-size: 19px;
    gap: 30px;
}
.third-contents .title{
font-size: 30px;
font-weight: bold;
}
.fourth-contents {
    display: flex;
    padding: 50px;
    align-items: center;
    font-size: 19px;
    border-bottom: 1px dashed;
    gap: 30px;
}
.fourth-contents .title{
font-size: 30px;
font-weight: bold;
}
.fifth-contents {
    display: flex;
    padding: 50px;
    align-items: center;
    font-size: 19px;
    border-bottom: 1px dashed;
    gap: 30px;
}
.fifth-contents .title{
font-size: 30px;
font-weight: bold;
}
.image-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
}