@charset "UTF-8";

.imgbox .image-slider img {
    width: 200px;
    height: 200px;
    margin: 30px;
}
.first-contents {
    display: flex;
    border: 3px solid black;
    padding: 50px;
    align-items: center;
    font-size: 19px;
}
.contents-title{
    margin-left: 0;
    display: grid;
    text-align: center;
}
.first-contents .title{
font-size: 30px;
}

.imgbox{
    margin-left: 0;
}
.contents-title{
    margin-left: 0;
}
.second-contents {
    display: flex;
    border: 3px solid black;
    padding: 50px;
    align-items: center;
    font-size: 19px;
}
.second-contents .title{
font-size: 30px;
}
.third-contents {
    display: flex;
    border: 3px solid black;
    padding: 50px;
    align-items: center;
    font-size: 19px;
}
.third-contents .title{
font-size: 30px;
}
.fourth-contents {
    display: flex;
    border: 3px solid black;
    padding: 50px;
    align-items: center;
    font-size: 19px;
}
.fourth-contents .title{
font-size: 30px;
}
.fifth-contents {
    display: flex;
    border: 3px solid black;
    padding: 50px;
    align-items: center;
    font-size: 19px;
}
.fifth-contents .title{
font-size: 30px;
}