@charset "UTF-8";

.imgbox .image-slider img {
    width:180px;
    height:180px;
    margin-right: 30px;
}
.first-contents {
    display: flex;
    border: 3px solid black;
    padding: 50px;
    align-items: center;
    font-size: 19px;
}
.imgbox{
    margin-left: 0;
}
.contents-title{
    margin-left: 0;
}
.second-contents {
    display: flex;
    border: 3px solid black;
    padding: 50px;
    align-items: center;
    font-size: 19px;
}
.third-contents {
    display: flex;
    border: 3px solid black;
    padding: 50px;
    align-items: center;
    font-size: 19px;
}
.fourth-contents {
    display: flex;
    border: 3px solid black;
    padding: 50px;
    align-items: center;
    font-size: 19px;
}
