@charset "UTF-8";

:root {
    /* COLORS */
    --white: #e9e9e9;
    --black: #333;
    --gray: #505050;
    --lightgray: #828282;

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 450px;
    --max-height: 785px;

    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
    align-items: center;
    background-color: var(--white);
    background-image: url("/image/joinback.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100%;
    place-items: center;
}
.container {
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: var(--max-height);
    max-width: var(--max-width);
    position: relative;
    margin-top: 230px;
    margin-bottom: 100px;
    backdrop-filter: blur(20px) brightness(1);
}
.container.right-panel-active{
    background-attachment: fixed;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 250%;
}

.form__title {
    font-weight: 200px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-right:100px;
    color:#464646;
}

.form {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    height: auto;
    width: 120%;
    margin-top: -10px;
    margin-left:16px;
    text-align: center;
}
.page1{
    color: white;
    font-size: 17px;
}
.span{
    text-align:left;
    padding: 0 2rem;
    font-size: 20px;
}

.inputInfo{
    text-align:left;
}

radiodiv{
    text-align: left;
    margin-left: 0px;
}

.radio input[type="radio"] {
    display: none;
}

.radio input[type="radio"] + span {
    display: inline-block;
    padding: 15px 73px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.radio input[type="radio"]:checked + span {
    background-color: #646464;
    color: #ffffff;
}
.input {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.3rem 0;
    width: 360px;
    align-content:center;
    margin-top: 5px;
}
.form > .btn {
    margin-top: 1.5rem;
}
.btn:focus {
    outline: none;
}
.btn {
    background-color: var(--gray);
    background-image: linear-gradient(90deg, var(--gray) 0%, var(--lightgray) 74%);
    border-radius: 20px;
    border: 1px solid var(--lightgray);
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.7rem 3rem;
    text-transform: uppercase;
    margin-bottom:20px;
    margin-top: 30px;
    margin-left: -88px;
}
.role{
    padding: 0.7rem 5.54rem;
    margin-bottom: 7px;
    text-align: center;
    align-content:center;
}

.abver{
    color: white;
    font-size: 12px;
}
.abver1{
    color: white;
    display: flex;
    align-items: center;
}
select option:hover {
    background-color: var(--gray); /* 원하는 색상으로 변경 */
}

select {
    padding: 10px 23.4px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-right: 5px;
}


select[name="yy"],
select[name="mm"],
select[name="dd"] {
    margin-right: 5px;
}


label {
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
}


select:focus {
    outline: none;
    border-color: var(--gray);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    background: #fbfbfb;
    margin-top: 8px;
    margin-right:8px;
}

input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}

input[type="checkbox"]:hover {
    border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
    background-color: #646464;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}

input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%)
}

/*id중복체크 안내 메세지*/
.id_ok{
    color:red;
    display: none;
}

.id_already{
    color:red;
    display: none;
}
.pwCheck{
    color:red;
    display: none;
}