@charset "UTF8";

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 91%);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1001;
    width: 510px;
    height: auto;
    border-radius: 5px;
}

.modal-wrap {
    margin: 10px 10px 0 10px;
}

.modal-content-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.modalBtn {
    float: right;
    margin: 0 10px 10px 0;
}

.concealBtn {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #ccc;
    color: #fff;
    cursor: pointer;
}

.saveBtn {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #2260ff;
    color: #fff;
    cursor: pointer;
}

.saveBtn[disabled] {
    background: #ccc;
    color: #fff;
}

.modal-wrap > div{
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-wrap2 {
    margin: 10px 10px 0 10px;
}

.modal-wrap2 > div{
    width: 62%;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-wrap2 > div > span{
    margin: 0;
}

.m_title{
    font-size: 18px;
    font-weight: bold;
}

.tasksubmit_chapter, .tasksubmit_add {
    width: 200px;
    height: 25px;
    font-size: 14px;
}

.tasksubmit_content {
    width: 200px;
    height: 55px;
    resize: none;
    font-size: 14px;
    cursor: auto;
}

#tasksubmit_content::-webkit-scrollbar {
    width: 5px;
}

#tasksubmit_content::-webkit-scrollbar-thumb {
    background-color: #979595;
    cursor: default;
}

#tasksubmit_content::-webkit-scrollbar-track {
    background-color: #e1e1e1;
    cursor: default;
}

input:focus, textarea:focus {
    outline: none;
}

.eval-wrap {
    margin: 10px;
    font-size: 17px;
}

.eval-wrap > div {
    margin-bottom: 15px;
}

.sub-title {
    margin-bottom : 2px;
}

.eval-wrap > div > span {
    font-weight: bold;
}
