@charset "UTF-8";
.main-content {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.mycontents-list {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px 0 30px;
    gap: 30px;
    width: 100%;
}

.contents-container {
    margin: 10px;
    display: flex;
}

.card-content {
    padding: 10px 0 10px 10px;
}

.checkbox {
    margin: 0;
    width: 292px;
}

.checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

&:checked + .checkbox-title {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    &:before {
        transform: scale(1);
        opacity: 1;
        background-color: #2260ff;
        border-color: #2260ff;
}

.checkbox-icon, .checkbox-label {
    color: #2260ff;
    }
}

&:focus + .checkbox-title {
    box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
    &:before {
    transform: scale(1);
    opacity: 1;
        }
    }
}

.checkbox-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    border: 3px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;

&:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 3;
}

&:hover {
    border-color: #2260ff;
        &:before {
        transform: scale(1);
        opacity: 1;
        }
    }
}

.checkbox-label {
    color: #707070;
    transition: .375s ease;
    text-align: center;
}

.card {
    position: relative;
    width: 100%;
    height: 405px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card-details {
    height: 100%
}

.card-content-wrap {
    padding: 10px 2px 2px;
    height: 69%;
}

.game-title {
    font-weight: bold;
    font-size: 25px;
    margin: 5px 0 30px 30px;
}

.member-name {
    display: flow-root;
}

.h1 {
    font-size: 20px;
    margin: 0.67em 0;
}

.guide {
    margin: 0 0 15px 42px;
    font-weight: bold;
    color: #6360fd;
}

.member-name span {
    float: right;
    font-size: 19px;
    margin: 10px 5px;
    font-weight: bold;
}

.task-chapter, .task-deadline, .task-state {
    margin-top: 10px;
}

.data {
    font-weight: bold;
    font-size: 15px;
}

.task-content {
    margin-top: 5px;
}

.card-button {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.writeBtn, .modifyBtn {
    border: none;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
}

.submitBtn[disabled] {
  background: #ccc;
  color: #fff;
}

.submitBtn {
    border: none;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    background-color: #2260ff;
    color: #fff;
    cursor: pointer;
}

.writeBtn:hover, .modifyBtn:hover {
    background-color: #2260ff;
    color: #fff;
    transition: background-color 0.8s ease, color 0.2s ease;
}

.title-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 0 42px;
    align-items: center;
}

.student-name, .title-button-wrap{
  margin: 0;
}

#submitTask {
    margin: 0;
}


/*모달 관련 css*/
.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 91%);
    z-index: 1000;
}

.modal {
    display: none;
    position: fixed;
    top: 30%;
    left: 37%;
    background-color: #fff;
    z-index: 1001;
    width: 510px;
    height: auto;
    border-radius: 5px;
}

.modal2 {
    display: none;
    position: fixed;
    top: 22%;
    left: 37%;
    background-color: #fff;
    z-index: 1001;
    width: 510px;
    height: auto;
    border-radius: 5px;
}

.modal-wrap {
    margin: 10px 10px 0 10px;
}

.modalBtn {
    float: right;
    margin: 0 10px 10px 0;
}

.cancel, .cancelBtn {
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #ccc;
    color: #fff;
    cursor: pointer;
}

.saveBtn, .save {
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #2260ff;
    color: #fff;
    cursor: pointer;
}

.saveBtn[disabled], .save[disabled] {
    background: #ccc;
    color: #fff;
}

.modal-wrap > div{
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-wrap2 {
    margin: 10px 10px 0 10px;
    height: 146px;
}

.modal-wrap2 > div{
    width: 62%;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.label {
    font-weight: normal;
}

.modal-wrap2 > div > span{
    margin: 0;
}

.m_title{
    font-size: 18px;
    font-weight: bold;
}

.tasksubmit_chapter, .tasksubmit_add {
    width: 200px;
    height: 25px;
    font-size: 14px;
    margin: 0;
}

.tasksubmit_content {
    width: 200px;
    height: 55px;
    resize: none;
    font-size: 14px;
    cursor: auto;
    margin: 0;
}

#tasksubmit_content::-webkit-scrollbar {
    width: 5px;
}

#tasksubmit_content::-webkit-scrollbar-thumb {
    background-color: #979595;
    cursor: default;
}

#tasksubmit_content::-webkit-scrollbar-track {
    background-color: #e1e1e1;
    cursor: default;
}

input:focus, textarea:focus {
    outline: none;
}

.eval-wrap {
    margin: 10px;
    font-size: 17px;
}

.eval-wrap > div {
    margin-bottom: 15px;
}

.sub-title {
    margin-bottom : 2px;
}

.eval-wrap > div > span {
    font-weight: bold;
}

.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: #1f2029;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.lightScrollIcon::after {
    color: #ecedf3 !important;
}

.progress-wrap:hover::after {
    opacity: 0;
}

.progress-wrap::before {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    opacity: 0;
    background-image: linear-gradient(298deg, #da2c4d, #f8ab37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::before {
    opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #1f2029;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}