<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>사이트 제목</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main/main.css}">
    <script type="text/javascript" th:src="@{/js/main/main.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div class="maincontent-wrap">
        <div class="main-content">
            <div class="first-box">
                <div class="imgbox">
                    <div class="image-slider">
                        <a th:href="@{|/notice/detail/52|}"><img class="slider-image" th:src="@{/image/main1.jpg}" alt="Image 1"></a>
                        <a th:href="@{|notice/detail/58|}"><img class="slider-image" th:src="@{/image/main2.jpg}" alt="Image 2"></a>
                        <a><img class="slider-image" th:src="@{/image/main3.jpg}" alt="Image 3"></a>
                    </div>
                    <div class="pagination">
                        <span class="dot" data-index="0"></span>
                        <span class="dot" data-index="1"></span>
                        <span class="dot" data-index="2"></span>
                        <button id="pauseBtn">
                            <i class="fa-solid fa-pause fa-lg"></i>
                            <i class="fa-solid fa-play fa-lg" style="display:none;"></i>
                        </button>
                    </div>
                </div>
                <div class="loginbox">
                    <button type="button" class="btn" onclick="location.href='/login'"><span>로그인</span></button>
                    <button type="button" class="btn" onclick="location.href='/member/agree'"><span>회원가입</span></button>
                </div>
            </div>
            <div class="video-box">
                <div class="video-title">재밌게 배우는 바둑📹</div>
                <div class="v-slider-container">
                    <button id="v-prevBtn" onclick="v_previousVideoSlide()">
                        <i class="fa-solid fa-angle-right fa-rotate-180 fa-xl"></i>
                    </button>
                    <div class="v-slider">
                        <div class="v-slide-track">
                            <iframe src="https://www.youtube.com/embed/-ezZ1Aavv-I" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/wkLTG_3ihGc?si=jDnSRUxVA271pmc4" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/8iWYSpecAuw?si=4_SHrCvJjS7W7awz" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/76J0dzkj0wA?si=fl-Odx0xaSyExWjP" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/wQs1M9LbEbk?si=Lr1VH5msbyIDLB1D" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                        </div>
                    </div>
                    <button id="v-nextBtn" onclick="v_nextVideoSlide()">
                        <i class="fa-solid fa-angle-right fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="game-box">
                <div class="game-title">이런 수업은 어떤가요?🖥️</div>
                <div class="slider-container">
                    <button id="prevBtn" onclick="previousGameSlide()">
                        <i class="fa-solid fa-angle-right fa-rotate-180 fa-xl"></i>
                    </button>
                    <div class="slider">
                        <div class="slide-track">
                            <div th:each="game : ${gameList}" class="slide">
                                <a th:href="@{/game/list}">
                                <img class="image" th:src="${game.filegame_name} ? @{|/image/game/${game.filegame_name}|} : @{/image/캡처.png}" th:alt="${game.filegame_name}">
                                <span class="img-title" th:text="${game.game_title}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button id="nextBtn" onclick="nextGameSlide()">
                        <i class="fa-solid fa-angle-right fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="notice-faq">
                <div class="notice-box">
                    <div class="notice-title">공지사항
                        <a th:href="@{/notice/list}" class="more-link">더보기<i class="fa-solid fa-plus fa-sm"></i></a>
                    </div>
                    <div class="notice-list">
                        <div th:each="topNotice : ${topNoticeList}">
                            <a th:href="@{/notice/detail/{notice_no}(notice_no=${topNotice.notice_no})}">
                                <span th:text="${topNotice.notice_title}"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="faq-box">
                    <div class="faq-title">FAQ
                        <a th:href="@{FAQ/list}" class="more-link">더보기<i class="fa-solid fa-plus fa-sm"></i></a>
                    </div>
                    <div class="faq-list">
                        <div th:each="faq : ${faqList}">
                            <!-- FAQ도 동일한 상세 페이지로 이동 -->
                            <a th:href="@{/notice/detail/{notice_no}(notice_no=${faq.notice_no})}">
                                <span th:text="${faq.notice_title}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</html>