<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>사이트 제목</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main/main.css}">
    <script type="text/javascript" th:src="@{/js/main/main.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div class="content-wrap">
        <div class="main-content">
            <div class="first-box">
                <div class="imgbox">
                    <div class="image-slider">
                        <img th:src="@{/image/main.PNG}" alt="Image 1">
                        <img src="path/to/your/image2.jpg" alt="Image 2">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>
                <div class="loginbox">
                    <button type="button" onclick="location.href='/login'">로그인</button>
                    <button type="button" onclick="location.href='/member/agree'">회원가입</button>
                </div>
            </div>
            <div class="video-box">
                <video>
                    <source src="path/to/your/video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="second-box">
                <div class="slider-container">
                    <button id="prevBtn" onclick="previousSlide()" i class="fa-solid fa-circle-chevron-right fa-rotate-180 fa-2xl"></i></button>
                    <div class="slider">
                        <div class="slide-track">
                            <div th:each="game : ${gameList}" class="slide">
                                <img class="image" th:src="${game.filegame_name} ? @{|/image/game/${game.filegame_name}|} : @{/image/캡처.png}" th:alt="${game.filegame_name}">
                                <span class="img-title" th:text="${game.game_title}"></span>
                            </div>
                        </div>
                    </div>
                    <button id="nextBtn" onclick="nextSlide()" i class="fa-solid fa-circle-chevron-right fa-2xl"></i></button>
                </div>
            </div>
            <div class="third-box">
                <div class="notice-list">
                    <li>공지사항 1</li>
                    <li>공지사항 2</li>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</html>