.faq-box {
    border:2px solid #fdd99f;
    background-color:#fff;
    color:inherit;
    padding:10px;
    margin-top: 2px;
    border-radius: 10px;
}

.faq-box__question {
    cursor:pointer;
}

.faq-box__question::after {
    content:"▼";
    float:right;
}

.faq-box > ul > li {
    padding:10px;
}

.faq-box > ul > li.hover > .faq-box__question::after {
    content:"▲";
}

.faq-box__answer {
    display:none;
    background-color:#fdd99f;
    border-radius:10px;
    padding:10px;
    margin-top: 10px;
}

.img{
    margin-top: 10px;
}

#QnA{
    height: 127px;
    width: 300px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 180px;
}
#info{
    height: 123px;
    width: 300px;
    margin-top: 11px;
}
area[alt="아이디 찾기"] {
    cursor: pointer;
}

area[alt="비밀번호 찾기"] {
    cursor: pointer;
}