.faq-box {
    border:2px solid #0078FF;
    background-color:#fff;
    color:inherit;
    padding:10px;
    margin-top: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #d2d2d2;
    margin-bottom: 5px;
}

.faq-box__question {
    cursor:pointer;
}

.faq-box__question::after {
    content:"▼";
    float:right;
}

.faq-box > ul > li {
    padding:10px;
}

.faq-box > ul > li.hover > .faq-box__question::after {
    content:"▲";
}

.faq-box__answer {
    display:none;
    background-color:#EBF5FF	;
    border-radius:10px;
    padding:10px;
    margin-top: 10px;
}

.btn{
    text-align: right;
}

.btn_sub{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;
}

.input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    width: 900px;
}
