<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지게시판작성</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/notice/noticeWrite.css}">
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<form id="notice" th:action="@{/notice/write}" enctype="multipart/form-data" method="post">
    <div th:replace="~{common/fragments/header :: headerFragment}"></div>
    <div class="content">
        <div th:replace="~{common/sidebar/notice_sidebar :: notice_sidebarFragment}"></div>
        <div class="content-wrap">
            <input type="hidden" name="member_id" th:text="${member_id}">
            <label> 공지구분
                <select name="notice_category">
                    <option value="공지">공지</option>
                    <option value="FAQ">FAQ</option>
                </select>
            </label><br/>

            <label for="upView">상단노출<input type="checkbox" id="upView" value="upView"></label>
            <label for="allView">전체공개<input type="checkbox" id="allView" value="allView"></label><br/>

            <span>제목 <input type="text" name="notice_title"></span><br/>

            <label for="upLoadNow">즉시등록<input type="radio" id="upLoadNow" value="upView"></label>
            <label for="upDateChoice">게시일자등록<input type="radio" id="upDateChoice" value="allView"></label><br/>

            <textarea rows="10" cols="50" name="notice_content"></textarea><br/>


            <div class="dropBox" multiple ="multiple">
                파일을 이곳에 올려주세요.
            </div>
            <input type="file" class="btn-file" multiple ="multiple" name="file" ><br/>
            <input type="submit" value="등록">
            <a th:href="@{'/notice/list'}">
                <button type="button">취소</button>
            </a>
        </div>
    </div>
</form>
</body>

<script>
    const $drop = document.querySelector(".dropBox");
    const $title = document.querySelector(".dropBox");

    // 파일 입력 필드
    const $fileInput = document.querySelector('input[type="file"]');

    // 드래그한 파일 객체가 해당 영역에 놓였을 때
    $drop.ondrop = (e) => {
        e.preventDefault();
        $drop.className = "dropBox";

        // 파일 리스트
        const files = [...e.dataTransfer?.files, ...$fileInput.files];


        $title.innerHTML = files.map(v => v.name).join("<br>");
    }

    // ondragover 이벤트가 없으면 ondrop 이벤트가 실행되지 않음
    $drop.ondragover = (e) => {
        e.preventDefault();
    }

    // 드래그한 파일이 최초로 진입했을 때
    $drop.ondragenter = (e) => {
        e.preventDefault();

        $drop.classList.add("active");
    }

    // 드래그한 파일이 영역을 벗어났을 때
    $drop.ondragleave = (e) => {
        e.preventDefault();

        $drop.classList.remove("active");
    }
</script>
</html>