<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지게시판리스트</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/guide/notice/noticelist.css}">
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/notice_sidebar :: notice_sidebarFragment}"></div>
    <div class="content-wrap">
    <div><a th:href="@{/notice/write}"><button>글쓰기</button></a></div>
    <table>
        <thead>
        <tr>
            <th>NO</th>
            <th>분류</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일시</th>
            <th>조회수</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="notice, loop: ${noticeList}">
            <td>
                <span th:text="${notice.notice_no}"></span>
            </td>
            <td>
                <span th:text="${notice.notice_category}"></span>
            </td>
            <td>
                <a th:href="@{'/notice/detail/'+ ${notice.notice_no}}">
                <span th:text="${notice.notice_title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${notice.member_id}"></span>
            </td>
            <td>
                <span th:text="${notice.notice_regdate}"></span>
            </td>
            <td>
                <span th:text="${notice.view_cnt}"></span>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>