<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>둑며들다|게시판 상세보기</title>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/notice/noticeDetail.css}">
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
<div th:replace="~{common/sidebar/guide_sidebar :: guide_sidebarFragment}"></div>
    <div class="content-wrap">
    <form enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="table1">
            <table class="table">
                <tr class="tab">
                    <th class="col-2">글번호</th>
                    <td class="col-4" th:text="${noticeDTO.notice_no}"></td>
                    <th class="col-2">작성일</th>
                    <td class="col-4" th:text="${#temporals.format(noticeDTO.notice_regdate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
                <tr class="tab">
                    <th class="col-2">작성자</th>
                    <td class="col-4" th:text="${noticeDTO.member_name}"></td>
                    <th class="col-2">조회수</th>
                    <td class="col-4" th:text="${noticeDTO.view_cnt}"></td>
                </tr>
                <tr class="tab">
                    <th class="col-1">제목</th>
                    <td class="col-11" th:text="${noticeDTO.notice_title}" colspan="4"></td>
                </tr>
            </table>
        </div>
        <div class="content1">
            <div class="content-container" >
                <div th:each="noticefile : ${noticeDTO.getNoticeFiles()}" style="text-align: center;">
                    <img th:src="@{|/image/notice/${noticefile.getFile_rename()}|}" alt="image" style="width: 50%;">
                </div>
                <div colspan="4" class="text" style="text-align: center;">
                    <pre style="white-space: pre-wrap; border: none; background-color: white;" th:text="${noticeDTO.notice_content}"></pre>
                </div>
            </div>
        </div>


        <div class="btn">
            <a th:href="@{'/admin/edit/' + ${noticeDTO.getNotice_no}}">
                <button type="button" class="btn_sub">수정</button>
            </a>

            <a th:href="@{'/admin/notice/delete/' + ${noticeDTO.getNotice_no}}">
                <button type="button" class="btn_sub">삭제</button>
            </a>

            <a th:href="@{'/notice/list'}">
                <button type="button" class="btn_sub">목록</button>
            </a>
        </div>
    </div>
</form>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>
