<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>사이트 제목</title>
    <!--공통으로 쓰이는 CSS 및  -->
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/fragments/admin_sidebar :: admin_sidebarFragment}"></div>
    <div class="content-wrap">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>질문등록일</th>
            </tr>
            </thead>
            <tbody>
            <!--1페이지당 출력할 게시물수만큼 반복시작
              *페이징처리에서 글번호 공식에 사용되는 개념
                 paging정보.getTotalElements:총게시물수
                 paging정보.number:현재 페이지 번호
                 paging정보.size:페이지당게시물개수
                 loop정보.index:나열 인덱스(0부터 시작.for반복문내부의 index)
                 여기에서는 한페이지당 게시글수를 10-> 0~9 =>0첫번째페이지 글번호12 11 10~3
                 여기에서는 한페이지당 게시글수를 2-> 0~1=>1 두번째페이지 글번호 2 1
              -->
            <tr th:each="question : ${questions}">
                <td th:text="${question.qna_no}"></td>
                <td><a th:href="@{/question/detail/{id}(id=${question.qna_no})}"
                       th:text="${question.qna_title}"></a></td>
                <!--<td th:text="${question.qna_content}"></td>-->
                <!--<td th:text="${question.qna_isshow}"></td>-->
                <td th:text="${question.member_id}"></td>
                <td th:text="${question.qna_regdate}"></td>


            </tr><!--1페이지당 출력할 게시물수만큼 반복끝-->
            </tbody>
        </table>
        <a th:href="@{/question/add}" class="btn btn-primary">질문등록하기</a>

    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>
