<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>둑며들다|QnA</title>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/guide/question/question.css}">
     </head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/guide_sidebar :: guide_sidebarFragment}"></div>
    <div class="content-wrap">

       <h2 class="head">Q&A 글쓰기</h2>

        <form id="questionForm" th:object="${questionForm}" method="post" enctype="multipart/form-data">
         <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <!--<div class="opt" sec:authorize="isAuthenticated()">
                <label for="subject" style="font-size: 16px; margin-right: 0px;">질문 제목</label>
                <textarea th:field="*{subject}" class="textarea1"></textarea>
                <p th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="error"></p>
            </div>-->

            <div class="form-group-horizontal"  sec:authorize="isAuthenticated()">
                    <label for="subject" >질문 제목</label>
                    <textarea th:field="*{subject}" class="textarea1"></textarea>
                    <p th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="error"></p>
            </div>

            <div class="form-group-horizontal"  sec:authorize="isAuthenticated()">
                <label for="content" >질문 내용</label>
                <textarea th:field="*{content}" class="textarea2"></textarea>
                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></p>
            </div>

            <div class="form-group-horizontal">
                <label class="fileselect"> 파일 등록
                <input type="file" name="file" accept="image/*" id="fileUpload"><br/>
                </label>
                <label for="fileUpload">1개의 JPG(JPEG)파일을 올려주세요:</label>
            </div>

            <div class="form-group-horizontal" sec:authorize="isAuthenticated()">
                <label for="pw" style="font-size: 16px;">비밀번호</label>
                <textarea th:field="*{pw}"  class="textarea1" ></textarea>
                <p th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}" class="error"></p>
            </div>

             <div>
                 <button class="btn_sub" type="submit" name="submit">등록하기</button>
             </div>
        </form>



</div>

</div>

</body>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</html>
