<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>findPw</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/login/find.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<!--<form action="/findPw" method="post">
    <label for="id">아이디:</label>
    <input type="text" id="id" name="id" required>
    <br>
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <button type="submit">비밀번호 찾기</button>
</form>


<div id="result" class="result">
    &lt;!&ndash; Thymeleaf 조건문을 사용하여 검색 결과를 표시 &ndash;&gt;
    <span th:if="${memberDTO != null}" th:text="'찾은 비밀번호: ' + ${memberDTO.member_pw}">비밀번호가 여기에 표시됩니다.</span>
    <span th:if="${findPwFail}" th:text="'일치하는 정보가 없습니다.'">오류 메시지가 여기에 표시됩니다.</span>
</div>-->

<div class="find-account">
    <h2 class="find-title">PW 찾기</h2>

<form action="/findPw2" method="post">

    <div class="input-group">
        <input type="text" id="id" name="id" required placeholder="아이디을 입력하세요">
    </div>
    <br>

    <div class="input-group">
        <input type="email" id="email" name="email" required placeholder="이메일을 입력하세요">
    </div>
    <br>


    <div class="centered">
        <button type="submit" class="btn">임시PW 받기</button>
    </div>
</form>
</div>
</body>
</html>