<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>findId</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/login/find.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>

<div class="find-account">
    <h2 class="find-title">ID 찾기</h2>
<form action="/findId" method="post">
    <div class="input-group">
    <input type="text" id="name" name="name" required placeholder="이름을 입력하세요">
    </div>
        <br>
    <div class="input-group">
    <input type="email" id="email" name="email" required placeholder="이메일을 입력하세요">
    </div>
        <br>
    <div class="centered">
    <button type="submit" class="btn">아이디 찾기</button>
    </div>
</form>
<div class="centered">
    <div id="result" class="end-title">
        <!-- Thymeleaf 조건문을 사용하여 검색 결과를 표시 -->
        <span th:if="${memberDTO != null}" th:text="'찾은 아이디: ' + ${memberDTO.member_id}">찾은 아이디가 여기에 표시됩니다.</span>
        <span th:if="${findIdFail}" th:text="'일치하는 정보가 없습니다.'">오류 메시지가 여기에 표시됩니다.</span>
    </div>
</div>

</div>




</body>
</html>