<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>findId</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/login/find.css}">
</head>
<body>

<div class="find-account">
<form action="/findId" method="post">
    <input type="text" id="name" name="name" required placeholder="이름을 입력하세요">
    <br>
    <input type="email" id="email" name="email" required placeholder="이메일을 입력하세요">
    <br>
    <button type="submit">아이디 찾기</button>
</form>
</div>

<div id="result" class="result">
    <!-- Thymeleaf 조건문을 사용하여 검색 결과를 표시 -->
    <span th:if="${memberDTO != null}" th:text="'찾은 아이디: ' + ${memberDTO.member_id}">찾은 아이디가 여기에 표시됩니다.</span>
    <span th:if="${findIdFail}" th:text="'일치하는 정보가 없습니다.'">오류 메시지가 여기에 표시됩니다.</span>
</div>



</body>
</html>