<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 반응형 디자인을 위해 추가된 뷰포트 -->

    <link rel="stylesheet" type="text/css" th:href="@{/css/member/login/login.css}"> <!-- 스타일시트 연결 -->
    <div th:replace="~{common/fragments/config :: configFragment}"></div>

    <title>로그인 페이지</title>
</head>
<body>
<div th:replace="common/fragments/header :: headerFragment"></div>



<div class="main-container">
    <div class="content shadow-box">
        <div class="logo-container">
            <div class="logo-login-box">
                <div class="logo-img">
                    <img src="/image/dol3.png" class="animated-image" alt="description" />
                    <img src="/image/png2.png" class="second-animated-image" alt="description" />
                    <div class="login-section">
                        <div class="login-box">
                            <form th:action="@{/login}" method="post">
                                <h2 class="login-title">로그인</h2>
                                <!-- ID 입력 -->
                                <div class="input-group">
                                    <input type="text" id="username" name="username" placeholder="ID" required> <!-- placeholder 추가 -->
                                </div>

                                <!-- 비밀번호 입력 -->
                                <div class="input-group">
                                    <input type="password" id="password" name="password" placeholder="Password" required> <!-- placeholder 추가 -->
                                </div>
                                <!-- 에러 메시지 -->
                                <div th:if="${param.error}" class="alert alert-danger">
                                    사용자ID 또는 비밀번호를 확인해주세요.
                                </div>
                                <!-- 로그인 버튼 -->


                                <!--<button type="submit" class="login-btn">로그인</button>-->

                                <div class="button_container">

                                    <button type="submit" class="btn"><span>Login</span></button>
                                    <!--<p class="link">
                                      Design by
                                      <a href="https://dribbble.com/skytrip" target="_blank">SkyTrip</a>
                                    </p>-->
                                </div>


                                <!-- 부가 링크 -->
                                <div class="links">
                                    <a href="#" onclick="findId()">아이디찾기</a> |
                                    <a href="#" onclick="findPw()">비밀번호찾기</a> |
                                    <a th:href="@{/member/agree}">회원가입</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div th:replace="~{common/fragments/footer :: footerFragment}"></div>



<script>
    function findId() {
         var newWindow = window.open('/findId', '_blank', 'width=300, height=400,top=100,left=100');

         if (newWindow === null || typeof newWindow === 'undefined') {
            alert('팝업 차단이 활성화되어 있을 수 있습니다. 팝업 차단을 해제하고 다시 시도하세요.');
          }
    }
</script>

<script>
    function findPw() {
        var newWindow = window.open('/findPw', '_blank', 'width=300, height=400,top=100,left=100');

        if (newWindow === null || typeof newWindow === 'undefined') {
            alert('팝업 차단이 활성화되어 있을 수 있습니다. 팝업 차단을 해제하고 다시 시도하세요.');
          }
    }
</script>



</body>
</html>
