<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>둑며들다|진도 등록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/student/task/submitTask.css}">
    <script type="text/javascript" th:src="@{/js/learning/task/submitTask.js}"></script>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/edu_sidebar :: edu_sidebarFragment}"></div>
    <div class="content-wrap">
        <div class="main-content">
            <div class="mycontents-list">
                <div class="contents-container">
                    <form id="submitTask" action="student/submit" method="post">
                        <div class="checkbox" th:each="content : ${contentsList}">
                            <label class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox-input" th:attr="data-game-no=${content.pay_no}" name="selectedGameNos" th:value="${content.pay_no}" />
                                <span class="checkbox-title">
                                        <div class="card">
                                            <div class="poster"><img th:src="@{/image/testBADUK2.png}">
                                                <div class="card-details">
                                                    <h1>컨텐츠 이름 : <span th:text="${content.game_title}"></span></h1>
                                                    <h2>구매금액 : <span th:text="${content.game_price}"></span>원</h2>
                                                    <h3>구독기간 : <span th:text="${#dates.format(content.game_startdate, 'yyyy-MM-dd')}"></span>~</h3>
                                                    <h4>구매일자 : <span th:text="${#dates.format(content.pay_date, 'yyyy-MM-dd')}"></span></h4>
                                                </div>
                                                <div class="details">
                                                    <h5>학습그룹 등록내역 : <span th:text="${content.group_name}"></span></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>