<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>둑며들다|진도 등록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/learning/task/student/submitTask.css}">
    <script type="text/javascript" th:src="@{/js/learning/task/student/submitTask.js}"></script>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/stu_sidebar :: stu_sidebarFragment}"></div>
    <div class="content-wrap">
        <div class="main-content">
            <div class="mycontents-list">
                <div class="contents-container">
                    <form id="submitTask" th:action="@{/student/submit}" method="post">
                        <div class="checkbox" th:each="task : ${taskList}">
                            <label class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox-input" th:attr="data-game-no=${task.tasksend_no}" name="tasksend_no" th:value="${task.tasksend_no}" />
                                <span class="checkbox-title">
                                        <div class="card">
                                            <div class="card-details">
                                                <div class="card-title">
                                                    <div class="game-title"><span th:text="${task.game_title}"></span></div>
                                                    <div class="member-name"><span th:text="${task.member_name}"></span></div>
                                                </div>
                                                <hr>
                                                <div class="card-content">
                                                    <div class="task-content">숙제 내용 : <span th:text="${task.task_content}"></span></div>
                                                    <div class="task-chapter">진도 : <span th:text="${task.task_chapter}"></span></div>
                                                    <div class="task-deadline">제출 기한 : <span th:text="${#dates.format(task.task_deadline, 'yyyy-MM-dd')}"></span></div>
                                                    <div class="task-state">상태 : <span th:text="${task.task_state}"></span></div>
                                                </div>
                                                <div class="card-button">
                                                    <div class="button-wrap">
                                                        <input type="button" id="selectBtn${task.tasksend_no}" class="selectBtn" data-tasksend-no="${task.tasksend_no}" value="숙제하기">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>