<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>둑며들다|진도 등록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/learning/task/student/taskUpdate.css}">
    <script type="text/javascript" th:src="@{/js/learning/task/student/taskUpdate.js}"></script>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/stu_sidebar :: stu_sidebarFragment}"></div>
    <div class="content-wrap">


    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>
