<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>둑며들다|게임 콘텐츠 결제</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/subscribe/pay.css}">
    <script type="text/javascript" th:src="@{/js/subscribe/pay.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>

<div class="content">
    <div th:replace="~{common/sidebar/pay_sidebar :: pay_sidebarFragment}"></div>

    <div class="content-wrap" style="height: auto;">
        <div class="main-content">
            <div class="navbar">
                <a onclick="handleNavClick('무통장 입금', this)">무통장 입금</a>
                <a onclick="handleNavClick('계좌이체', this)">계좌이체</a>
                <a onclick="handleNavClick('카카오페이', this)">카카오페이</a>
            </div>
            <div class="content-row">
                <div class="image-container">
                    <div th:each="game : ${cartlist}" class="poster">
                        <img class="image" th:attr="data-game-no=${game.game_no}" th:src="${game.filegame_name} ? @{|/image/game/${game.filegame_name}|} : @{/image/캡처.png}" th:alt="${game.filegame_name}">
                    </div>
                    <div class="img-button">
                    <button onclick="prevImage()" i class="fa-solid fa-circle-chevron-right fa-rotate-180 fa-2xl"></i></button>
                    <button onclick="nextImage()" i class="fa-solid fa-circle-chevron-right fa-2xl"></i></button>
                    </div>
                </div>
                <form th:action="@{/pay/payment}" method="POST" class="pay-list" onsubmit="return validateForm()">
                <div class="pay-box">
                    <div class="pay-titlebox">
                        <div class="pay-title">결제방법 선택</div>
                        <input type="text" id="pay_type" name="pay_type" hidden="hidden">
                        <div class="pay-titlecontent" id="selectedPaymentMethod"></div>
                    </div>
                    <div class="pay-orderbox">
                        <div class="pay-ordertitle">주문할 상품</div>
                        <div class="pay-ordercontent">
                            <div class="tag-container">
                                <div class="tag-container">
                                    <div th:each="game : ${cartlist}" class="tag" data-game-name="${game.filegame_name}" th:attr="data-game-no=${game.game_no}">
                                        <input class="price" hidden="hidden" th:value="${game.game_sell}" th:attr="data-game-no=${game.game_no}">
                                        <input hidden="hidden" name="game_date[]" th:value="${game.game_date}">
                                        <input hidden="hidden" name="game_no[]" th:value="${game.game_no}">
                                        <div th:text="${game.game_title}" th:attr="data-game-price=${game.game_sell}"></div>
                                        <a class="delete-btn" th:attr="data-game-no=${game.game_no}" onclick="deleteTag(event)">x</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pay-infobox">
                        <div class="pay-infotitle">구매자 정보</div>
                        <div class="pay-name">
                            구매자명 : <input type="text" class="buyer-name" name="buy_name" id="buyer-name">
                            <div class="error-message" id="buyer-name-error"></div>
                        </div>
                        <div class="pay-phone">
                            연락처 : <input type="tel" class="buyer-phone" name="pay_phone" id="buyer-phone" maxlength="11">
                            <div class="error-message" id="buyer-phone-error"></div>
                        </div>
                        <div class="depotiortitle">
                            입금자명 : <input type="text" class="pay-depositor" name="pay_name" id="payname">
                            <div class="error-message" id="pay-name-error"></div>
                        </div>
                    </div>
                    <div class="pay-pricebox">
                        <div class="pricetitle">
                            결제금액 :
                            <span name="productName" class="mypaylist"></span>
                        </div>
                    </div>
                    <div class="buttonbox">
                        <div class="pay-submit">
                            <button type="submit" id="submitbutton" class="submit-button">결제하기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</div>
</body>
</html>
