<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>사이트 제목</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/subscribe/pay.css}">
    <script type="text/javascript" th:src="@{/js/subscribe/pay.js}"></script>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>

<div class="content">
    <div th:replace="~{common/sidebar/pay_sidebar :: pay_sidebarFragment}"></div>

    <div class="content-wrap" style="height: auto;">
        <div class="main-content">
            <div class="navbar">
                <a href="#" onclick="handleNavClick('무통장 입금', this)">무통장 입금</a>
                <a href="#" onclick="handleNavClick('계좌이체', this)">계좌이체</a>
                <a href="#" onclick="handleNavClick('카카오페이', this)">카카오페이</a>
            </div>
            <div class="content-row">  <!-- 추가된 부분 -->
                <div class="image-container">
                    <div class="poster"><img id="paymentImage" src=""></div>
                </div>
            <form th:action="@{/payment}" method="POST" class="pay-list" onsubmit="return validateForm()" th:target="@{결제완료페이지}">
                <div class="pay-box">
                    <div class="pay-titlebox">
                        <div class="pay-title">결제방법 선택</div>
                        <div class="pay-titlecontent" id="selectedPaymentMethod"></div>
                    </div>
                    <div class="pay-orderbox">
                        <div class="pay-ordertitle">주문할 상품</div>
                        <div class="pay-ordercontent">
                            <div class="tag-container">
                                <div class="tag-container">
                                    <div th:each="game : ${cartlist}" class="tag">
                                        <input class="price" hidden="hidden" th:value="${game.game_price}">
                                        <input hidden="hidden" name="game_no[]" th:value="${game.game_no}">
                                        <div th:text="${game.game_title}" th:attr="data-game-price=${game.game_price}"></div>
                                        <a class="delete-btn" th:attr="data-game-no=${game.game_no}">x</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pay-infobox">
                        <div class="pay-infotitle">구매자 정보</div>
                        <div class="pay-name">
                            구매자명 : <input type="text" class="buyer-name" name="buy_name" id="buyer-name">
                            <div class="error-message" id="buyer-name-error"></div>
                        </div>
                        <div class="pay-phone">
                            연락처 : <input type="tel" class="buyer-phone" name="pay_phone" id="buyer-phone">
                            <div class="error-message" id="buyer-phone-error"></div>
                        </div>
                        <div class="depotiortitle">
                            입금자명 : <input type="text" class="pay-depositor" name="pay_name" id="payname">
                            <div class="error-message" id="pay-name-error"></div>
                        </div>
                    </div>
                    <div class="pay-pricebox">
                        <div class="pricetitle">
                            결제금액 :
                            <span name="productName" class="mypaylist"></span>
                        </div>
                    </div>
                    <div class="buttonbox">
                        <div class="pay-submit">
                            <button type="submit" id="submitbutton" class="submit-button">결제하기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>
