<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>학습 그룹 조회</title>
    <!--공통으로 쓰이는 CSS 및  -->
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/learning/group/groupList.css}">
</head>

<script>
    //게임 콘텐츠 목록 리스트
    $(document).ready(function() {
        const groupMenu = document.querySelector(".select-menu-group");
        const selectGroupBtn = groupMenu.querySelector(".select-btn-group");
        const groupOptions = groupMenu.querySelectorAll(".option");
        const groupSBtnText = groupMenu.querySelector(".sBtn-text");

        selectGroupBtn.addEventListener("click", () => groupMenu.classList.toggle("active"));
        groupOptions.forEach(option => {
            option.addEventListener("click", () => {
                let selectedOption = option.querySelector(".option-text").innerText;
                groupSBtnText.innerText = selectedOption;
                groupMenu.classList.remove("active");
            });
        });
    });
    $(document).ready(function() {
    $(".delete-btn").click(function() {
        var selectCheck = []; // 선택된 체크박스의 data-check-no 값들을 저장할 배열
        console.log("클릭됨");
        // 선택된 체크박스를 찾아서 data-check-no 값을 배열에 추가
        $(".checkbox:checked").each(function() {
            var checkNo = $(this).attr("data-check-no");
            selectCheck.push(checkNo);
        });
            console.log(selectCheck);
        // AJAX 요청 보내기
        $.ajax({
            url: "/educator/group/delete",
            type: "POST",
            data: { group_no: selectCheck },
            dataType: "text",
            traditional: true,
            success: function(response) {
                if(response==="success"){
                console.log("삭제 요청이 성공적으로 처리되었습니다.");
                }else{
                console.log("삭제 실패");
                }

                console.log(response);
            },
            error: function(xhr, status, error) {
                console.error("삭제 요청 중 오류가 발생했습니다.");
                console.error(error);
            }
        });
    });
});
    //학습 그룹 선택 후 조회
    $(document).ready(function() {
        $(".search-btn").click(function() {
            var groupName = $(".sBtn-text").text();

            window.location.href = "/educator/group/list?groupName=" + encodeURIComponent(groupName);
        });
    });
</script>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/edu_sidebar :: edu_sidebarFragment}"></div>
    <div class="content-wrap">
        <div class="content_header">
            <div class="keyword-container">
                <h2>학습 그룹</h2>
                <div class="select-menu-group">
                    <div class="select-btn-group">
                        <span class="sBtn-text" th:text="${group_name}"></span>
                        <i class="bx bx-chevron-down"></i>
                    </div>
                    <ul class="options">
                        <li class="option" th:each="groupName : ${groupName}">
                            <span class="option-text" th:text="${groupName.group_name}"></span>
                        </li>
                    </ul>
                </div>
                <button class="search-btn">조회</button>
            </div>
            <div class="edit-delete">
                <button type="button" class="modify-btn" value="학습 그룹 상세 입력">수정</button>
                <button type="button" class="delete-btn" value="학습 그룹 상세 입력">삭제</button>
            </div>
        </div>
        <section class="main-content">
            <div class="container" >
                <div class="table-wrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>학습 그룹명</th>
                            <th>게임 콘텐츠명</th>
                            <th>그룹T/O</th>
                            <th>구독기간</th>
                            <th>등록 학생수</th>
                            <th>상세 조회</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tbody-tr" th:each="groupList : ${groupList}">
                            <td>
                                <label class="checkbox-wrap">
                                    <input class="checkbox" type="checkbox" th:attr="data-check-no=${groupList.group_no}">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="">
                                <div class="">
                                    <span th:text="${groupList.group_name}"></span>
                                </div>
                            </td>
                            <td>
                                <span th:text="${groupList.game_title}"></span>
                            </td>
                            <td class="status">
                                <span class="active" th:text="${groupList.group_cnt}-${groupList.group_nowcnt}"></span>
                            </td>
                            <td>
                                <span th:text="${groupList.group_enddate}"></span>
                            </td>
                            <td>
                                <span class="active" th:text="${groupList.group_nowcnt}"></span>
                            </td>
                            <td>
                                <button class="detail-search" th:attr="data-detail-no=${groupList.group_no}"><i class="ri-search-eye-line" data-tasksend_no=""></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>