body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
}

.table {
    border-collapse: collapse;
    background-color: white;
    width: 1000px;
    height: 150px;
}

.table th, .table td {
    border: 1px solid #ccc;
    background-color: white;
    padding: 8px;
    text-align: left;
}

.content1{
    background-color: white;
    width: 1000px;
    margin-top:20px;
    position: initial;
    text-align: center;
    border: none;
    max-height: 600px;
    overflow: auto;
    padding-top: 30px;
}


pre {
    background-color: white;
    border: none;
    padding: 10px;
    white-space: pre-wrap;
}

/*버튼*/
.btn{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 120px;
}
.bt_1 {
    position: relative;
    right: -342px;
    bottom: 29px;
}
.btn_sub {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;

}
.btn_submit {
    text-align: center;
}
.btn_update {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;

}
.btn_del {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;

}

.btn_sub:hover {
    background-color: #007bff;
    color: #fff;
}


table.table th {
    background-color: #CDECFA;
    color: black;
    text-align: center;
}

.text{
    text-align: center;
}

