.btn_file{
    display: none;
}

@charset "UTF-8";
input[type="checkbox"] {
    width: 20px; /* 원하는 너비 설정 */
    height: 20px; /* 원하는 높이 설정 */
}
.opt2 {
    margin-left: 107px;
    margin-top: 15px;
    display: block;
}
.head {
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-bottom: 30px;
    line-height: 35px;
}
.notice_category {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 31px;
    font-size: 16px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
    border-radius : 5px;
}

.type{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border: 1px solid #888;
}

.view{
    font-size: 16px;
}
.edupost_type {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 31px;
    font-size: 16px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
}
.edupost_service {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 16px;
    font-size: 16px;
}
.texarea1 {
    border: 1px solid #d1d1d1;
    width: 80%;
    margin-left: 58px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;

}
.texarea2 {
    border: 1px solid #d1d1d1;
    height: 300px;
    width: 80%;
    margin-left: 31px;
    margin-bottom: 20px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    border-radius : 5px;
}
.opt {
    margin-top: 15px;
}

.fileselect {
    position: relative;
    right: -4px;
}
.fileup {
    position: relative;
    right: -35px;
    width: 234px;
    font-size: 12px;
}
.bt_1 {
    position: relative;
    right: -342px;
    bottom: 29px;
}
.btn_sub {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;

}

.btn_update {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;

}
.btn_del {
    border: none;
    color: white;
    width: 100px;
    height: 36px;
    cursor: pointer;
}

.btn_sub:hover {
    background-color: #EBF5FF;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top:10px;
}

input{
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius : 5px;
}

.submit-button{
    width: 150px;
    height: 32px;
}

.contain {
    display: flex;
    justify-content: center;
    float: left;
}
td {
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}
th, td {
    padding-left: 15px;
}

.cont {
    display: flex;
    flex-direction: column;
}

.btn_box {
    position: relative;
    right: -372px;
    bottom: -30px;
    text-align: center;
}

.btn{
    text-align: center;
}

.drop-area {
    width: 500px;
    height: 150px;
    border: 1px solid #d1d1d1;
    padding: 10px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    border-radius : 5px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin-left: 38px;
    margin-bottom: 38px;
    background-color: white;
    cursor: pointer;
}

#here {
    padding: 50px;
}


.content1{
    display: inline-flex;
    margin-left: 102px;
    margin-bottom: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;

}