
.dropBox {
    width: 300px;
    height: 300px;

    margin: .6rem;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 4px dashed #ddd;
    user-select: none;
    transition: 0.4s;
}

/* 드롭 반응 */
.dropBox.active {
    background: #ddd;
}

.dropBox h1 {
    font-size: 1.8rem;
}
