@charset "UTF-8";
.paging {
    margin-top: 15px;
    display: flex;
}
#pagination{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.pagination-container li{
    display: flex;
    float: left;
    margin-right: 5px;
    padding: 8px 13px;
    text-decoration: none;
}

.pagination-container a:hover:not(.active) {
    background-color: #ddd;
    border-radius : 8px;
    width: 36px;
}
.head {
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-bottom: 30px;
    line-height: 35px;
}

table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

th {
    text-align: left;
}

thead {
    background: #b2d3ff;
    line-height: 40px;

}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

.tableColor{
    background-color:#EBF5FF;
}


@media all and (max-width: 768px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        text-align: right;
    }

    table {
        position: relative;
        padding-bottom: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    thead {
        float: left;
        white-space: nowrap;
    }

    tbody {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
    }

    tr {
        display: inline-block;
        vertical-align: top;
    }

    th {
        border-bottom: 1px solid #0078FF;
    }

    td {
        border-bottom: 1px solid #e5e5e5;
    }

    .active-page {
        background: #f9ecbe;
        border-radius: 8px;
    }

}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.size-container {
    order: 1;
}

.search-container {
    order: 2;
    margin: 0;
}

.writeBtn {
    order: 3;
    margin: 0;
}

.btnWrite{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;

}

.search-box{
    padding: 7px;
    text-align: center;
}

.search-text{
    padding: 7px;
    width: 220px;
    text-align: center;
}
.bt_search{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;
}

.bt_search:hover{
    background-color: #007bff;
    color: #fff;
}

.form-control{
    padding: 5px;
    width: 80px;
    text-align: center;
}

#pageSizeForm{
    margin: 0;
}

.btnWrite:hover{
    background-color: #007bff;
    color: #fff;
}