@charset "UTF-8";

.content_header{
    display: flex;
    padding: 22px;
    justify-content: space-around;
    align-items: flex-start;
}

.keyword-container{
    display: flex;
}

.join-btn-container{
    position: relative;
    top: -2px;
}

.content-container{
    width: 100%;
    height: auto;
    padding: 0 30px 30px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}
.select-menu-group,
.select-menu-educator{
    width: auto;
    margin-right: 16px;
}
.select-menu-group .select-btn-group,
.select-menu-educator .select-btn-educator{
    display: flex;
    height: 40px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu-group.active .select-btn i,
.select-menu-educator.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu-group .options,
.select-menu-educator .options{
    position: absolute;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    transition: max-height 0.5s ease-in-out;
    z-index: 3;
}
.select-menu-group.active .options,
.select-menu-educator.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 45px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F3D973;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}
.keyword-container h2{
    margin-right: 15px;
    line-height: 44px;
}
.select-menu-group .options,
.select-menu-educator .options {
    max-height: 0;
    overflow: hidden;
}

.select-menu-group.active .options,
.select-menu-educator.active .options {
    width: auto;
    z-index: 4;
    height: 270px;
    overflow-y: scroll;
    max-height: 249px;
}

.select-menu-group.active .options::-webkit-scrollbar {
    background-color:#fff;
    width:16px;
}

.select-menu-group.active .options::-webkit-scrollbar-track {
    background-color:#fff
}
.select-menu-group.active .options::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

.select-menu-group.active .options::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.select-menu-group.active .options::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

.select-menu-educator.active .options::-webkit-scrollbar {
    background-color:#fff;
    width:16px;
}

.select-menu-educator.active .options::-webkit-scrollbar-track {
    background-color:#fff
}
.select-menu-educator.active .options::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

.select-menu-educator.active .options::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.select-menu-educator.active .options::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 200px;
    }
}

.search-btn,.join-btn{
    height: 40px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    border: none;
    font-weight: 400;
    border-radius: 8px;
    line-height: 0;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.search-btn:hover{
    background: #F4D96E;
}

.card {
    position: relative;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.card:hover .backDetails {
    bottom: 0;
}


.poster{
    object-fit: cover;
    transition: .3s;
}

.card img{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 266PX;
}

.details {
    position: relative;
    left: 0;
    padding: 4px;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    color: #fff;
    z-index: 2;
    font-size: 20px;
}
.backDetails{
    position: absolute;
    bottom: -101%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    color: #fff;
    z-index: 1;
    font-size: 20px;
}


.details h5{
    font-size: 13px;
    font-weight: normal;
    width: max-content;
    margin: 0px 0px 10px;
}

.card:hover .details1 {
    bottom: 100px;
}

h1, h2, h3, h4{
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.checkbox{
    margin-bottom: 25px;
}

.checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

	&:checked + .checkbox-title {
		border-color: #2260ff;
		box-shadow: 0 5px 10px rgba(#000, 0.1);
		color: #2260ff;
		&:before {
			transform: scale(1);
			opacity: 1;
			background-color: #2260ff;
			border-color: #2260ff;
		}

		.checkbox-icon, .checkbox-label {
			color: #2260ff;
		}
	}

	&:focus + .checkbox-title {
		box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
		&:before {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.checkbox-title {
    display: flex;
    flex-direction: row;
    width: 295px;
    height: 382px;
    border-radius: 11px;
    border: 3px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        border-radius: 50%;
        top: 0.25rem;
        left: 0.25rem;
        transition: 0.25s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: 3;
    }

    &:hover {
        border-color: #2260ff;
        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-icon {
    transition: .375s ease;
    color: #494949;
    svg {
        width: 3rem;
        height: 3rem;
    }
}

.checkbox-label {
    color: #707070;
    transition: .375s ease;
    text-align: center;
}
.list-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 37px;
    margin-top:30px;
}
.list-box li{
    margin: 0;
}
.content_footer{
    display: flex;
    justify-content: center;
}

.content_footer button{
    width: auto;
    height: auto;
    font-size: 17px;
    font-weight: bold;
    background: none;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}

.modal-1{
    display: none;
}

.modal-2{
    display: none;
}

.modal-3{
    display: none;
}


.modal-1, .modal-2, .modal-3{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    background: white;
    margin: 15% auto;
    padding: 20px;
    width: 24%;
    display: flex;
    gap: 28px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

.modal-btn-confirm, .modal-btn-cancel {
    background: none;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    width: 100px;
    height: 30px;
}

.modal-btn-confirm:hover{
    background: #2260ff;
}

.modal-btn-cancel:hover{
    background: #ff1919;
}

.modalGroupName{
    margin: 0;
}

.already-Join-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.already-Join-modal .modal-wrap {
    position: relative;
    top: 30%;
    height: auto;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.already-Join-modal .modal-content1 p {
    text-align: center;
    margin: 20px 0;
}

.confirm-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: #0056b3;
}