@charset "UTF-8";

 body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        max-width: 940px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .form-row {
        display: flex;
        justify-content: space-between;
    }

    .form-row .form-group {
        flex: 1;
        margin-right: 10px;
    }

    .form-row .form-group:last-child {
        margin-right: 0;
    }

    .img-game{
      DISPLAY: flex;
      width: 940px;
      height: 152px;

      margin-bottom: 20px;
      margin-top: -21px;
      margin-left: -20px;
    }

    .form-group {
        margin-bottom: 12px;
    }

    .form-group label {
        display: block;
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 14px;
    }

    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group select,
    .form-group textarea {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-group select {
        height: 40px;
        width: 166px;
    }
    #game_title{
    height:40px;
    width:340px;

    }

    #game_price{
    height: 40px;
    width:166px;
    }

    #game_discount{
    height: 40px;
    width:166px;
    }

    #game_sell{
    height: 40px;
    width:166px;
    }

   #game_content{
        width: 460px;
        height: 142px;
        resize: none;
    }

    .thumbnail input[type="file"] {
        padding: 5px;
    }

    .form-group1 input[type="submit"] {
        background-color: #c5ebc6;
        color: #000000;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 300px;
        margin-left: 300px;
    }

    .form-group1 input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .uploadbox{
    border:1px solid red;
    }
    .thumbnail{
            width: 100%;
            display: flex;
            height: 70px;
            justify-content: start;
    }
    #thumbnail{
    border:1px solid blue;
    }
    .thumbnail-title{
       border: 1px solid red;
           width: 100%;
           font-size: 14px;
           font-weight: bold;
    }
    .tn{
      display: flex;
      margin: 0;
      padding: 9px;
      font-weight: bold;
      font-size: 14px;
      padding-left: 0;

    }





    .filebox{
        margin-left: 10px;
        display: flex;
    }

    .filebox .upload-name {
   display: inline-block;
   height: 40px;
   padding: 0 10px;
   vertical-align: middle;
   border: 1px solid #dddddd;
   width: 78%;
   color: #999999;
   }

.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    white-space: nowrap;
}


   .filebox input[type="file"] {
       display: none;
       position: absolute;
       width: 0;
       height: 0;
       padding: 0;
       overflow: hidden;
       border: 0;
}

