@charset "UTF-8";

.content_header{
    display: flex;
    padding: 22px;
    justify-content: space-around;
    align-items: center;
}

.keyword-container{
    display: flex;
    margin: 0;
    flex-direction: column;
}

.keyword-container > div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.info-container{
    width: 100%;
}

.info-container > div{
    display: flex;
    gap: 41px;
    margin: 0;
}

.day-radio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info-container > div > h3{
    margin: 0;
}

.edit-delete{
    display: flex;
    gap: 20px;
    position: relative;
    top: -2px;
    margin: 0;
}

.select-menu-group{
    width: auto;
    margin-right: 16px;
}

.select-menu-group .select-btn-group{
    display: flex;
    height: 40px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}

.select-menu-group.active .select-btn i{
    transform: rotate(-180deg);
}

.select-menu-group .options{
    position: absolute;
    padding: 10px;
    margin-top: 45px;
    width: 150px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    transition: max-height 0.5s ease-in-out;
    z-index: 3;
}

.select-menu-group.active .options{
    display: block;
}

.options .option{
    display: flex;
    height: 45px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover{
    background: #F3D973;
}

.option i{
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text{
    font-size: 18px;
    color: #333;
}

.keyword-container h2{
    margin-right: 15px;
    line-height: 44px;
}

.select-menu-group .options,
.select-menu-educator .options {
    max-height: 0;
    overflow: hidden;
}

.select-menu-group.active .options{
    width: auto;
    z-index: 4;
    max-height: 200px;
    transition: max-height 0.2s ease-in-out;
    animation-name: slideDown;
    animation-duration: 0.2s;
}

@keyframes slideDown {
    from {
        max-height: 0;
        }
    to {
        max-height: 200px;
    }
}

.search-btn,.search-btn1,.modify-btn,.graph-btn{
    height: 40px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    border: none;
    font-weight: 400;
    border-radius: 8px;
    line-height: 0;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.search-btn:hover{
    background: #F4D96E;
}

.graph-btn:hover{
    background: #F4D96E;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.close{
    background: none;
    border: none;
}

.checkbox-wrap {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark:after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: relative;
    color: rgba(0, 0, 0, 0.1);
    font-size: 25px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


.checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.2);
}

.checkbox-wrap {
    color: #40bfc1;
}

.checkbox-wrap input:checked ~ .checkmark:after {
    color: #40bfc1;
}

.detail-search{
    border: none;
    background: none;
    cursor: pointer;
}

.detail-search i{
    font-size: 27px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 320px;
    width: 100%;
    height: 52%;
}

.close-modal{
    background: none;
    border: none;
    font-size: 27px;
    cursor: pointer;
    outline: none;
}

.modal-wrap {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 687px;
    height: 410px;
    border-radius: 5px;
    border: 1px solid;
}

.modal-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-header .select-menu-group{
    width: 75%;
}

.modal-header h2, .modal-header .select-menu-group, .modal-header .search-btn{
    font-size: 16px;
    margin: 0;
}

.groupinfo{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 13px;
    height: 18px;
}

.groupinfo > span{
    margin: 0;
}

.memberinfo-header{
    display: flex;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    overflow-y: scroll;
}

.memberinfo-header::-webkit-scrollbar {
  width:16px;
}

.memberinfo-header >span{
    text-align: center;
    margin: 0;
}

.member-list li {
    display: flex;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

.member-list > li > span{
    text-align: center;
    margin: 0;
}

.member-list{
    overflow-y: scroll;
    height: 255px;
}


.member-list::-webkit-scrollbar {
    background-color:#fff;
    width:16px;
}

.member-list::-webkit-scrollbar-track {
    background-color:#fff
}
.member-list::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

.member-list::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.member-list::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

.list-header{
    display: flex;
    height: 50px;
    border-bottom: 5px solid #ECEFFA;
    padding-bottom: 15px;
    font-weight: bold;
    width: 100%;
    font-size: 16px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.list-header > div{
    margin: 0;
    display: flex;
    align-items: center;
}

.ul-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.li-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 5px solid #e8e8e9;
    height: 75px;
    justify-content: space-between;
}

.li-container:hover{
    background: #ECEFFA;
}

.li-container > div{
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.list-wrap{
    background: white;
    max-height: 75vh;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
    border-radius: 8px;
}

.list-wrap::-webkit-scrollbar {
    background-color:#fff;
    width:16px;
}

.list-wrap::-webkit-scrollbar-track {
    background-color:#fff
}

.list-wrap::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

.list-wrap::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}

.list-wrap::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

.check-area, .li-check{
    width: 5%;
}

.groupname-area, .li-groupname{
    width: 10%;
}

.gametitle-area, .li-gametitle{
    width: 17%;
}

.groupTO-area, .li-groupTO{
    width: 14%;
}

.date-area, .li-date{
    width: 30%;
}

.studentCnt-area, .li-studentCnt{
    width: 10%;
}

.detail-area, .li-detail{
    width: 10%;
}

.select-menu-group{
    display: flex;
    gap: 14px;
}

.select-btn-group{
    margin: 0;
}

.search-btn1{
    width: 20%;
    margin: 0;
}

.modal-btn-container{
    margin: 0;
}