
.side-bar{
  background: #fff;
  backdrop-filter: blur(15px);
  border-radius: 15px;
  width: 253px;
  height: 490px;
  margin: 0;
  margin-top: -578px;
  overflow: hidden;
  position: sticky;
  top: 175px;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  z-index: 2;
}
.side-bar::-webkit-scrollbar {
  display: none;
}
.side-bar .menu{
  width: 100%;
}

.side-bar .menu .item{
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a{
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover{
  background: #96a0aa;
  color: #FFFFFF;
  transition: 0.3s ease;
}

.sub-btn-active{
  background: #96a0aa;
  color: #FFFFFF !important;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu a:hover{
  background: #96A0AA;
  color: #FFFFFF;
  transition: 0.3s ease;
}

.side-bar .menu .item i{
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a{
  padding-left: 70px;
}

.rotate{
  transform: rotate(90deg);
}

.close-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

.menu-btn{
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 25px;
  cursor: pointer;
}

@media (max-width: 800px) {

  .side-bar{
    display: none;
  }
}