<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>둑며들다</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div class="maincontent-wrap">
        <div class="main-content">
            <div class="first-box">
                <div class="imgbox">
                    <div class="image-slider">
                        <img class="slider-image" th:src="@{/image/main/main1.jpg}" alt="Image 1" data-url="/notice/detail/52">
                        <img class="slider-image" th:src="@{/image/main/main2.jpg}" alt="Image 2" data-url="/notice/detail/58">
                        <img class="slider-image" th:src="@{/image/main/main3.jpg}" alt="Image 3">
                    </div>
                    <div class="pagination">
                        <span class="dot" data-index="0"></span>
                        <span class="dot" data-index="1"></span>
                        <span class="dot" data-index="2"></span>
                        <button id="pauseBtn">
                            <i class="fa-solid fa-pause fa-lg"></i>
                            <i class="fa-solid fa-play fa-lg" style="display:none;"></i>
                        </button>
                    </div>
                </div>
                <div class="loginbox">
                    <button type="button" class="btn" onclick="location.href='/login'" sec:authorize="isAnonymous()"><span>로그인</span></button>
                    <button type="button" class="btn" onclick="location.href='/member/agree'" sec:authorize="isAnonymous()"><span>회원가입</span></button>
                    <div class="login-info" sec:authorize="isAuthenticated()">
                        <div class="login">
                            <p>안녕하세요 👋</p>
                            <div class="login-title">
                                <span th:text="${member_name}" class="member-name"></span>
                                <span class="dear"> 님</span>
                            </div>
                            <p class="comment">오늘도 둑며드세요!<span style="font-size: 18px;"></span>
                                <img alt="heart" th:src="@{|image/main/heart.png|}" class="heart">
                            </p>
                        </div>
                        <button class="btn" id="logoutBtn" onclick="document.getElementById('logoutForm').submit();">로그아웃</button>
                    </div>
                </div>
            </div>
            <div class="video-box">
                <div class="video-title">이런 영상도 있어요~!📹</div>
                <div class="v-slider-container">
                    <button id="v-prevBtn" onclick="v_previousVideoSlide()">
                        <i class="fa-solid fa-angle-right fa-rotate-180 fa-xl"></i>
                    </button>
                    <div class="v-slider">
                        <div class="v-slide-track">
                            <iframe src="https://www.youtube.com/embed/XhU_S7w1z3w?si=fuVUDLtjj0SVxHx" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/GemKQUF71D8?si=9f-SE38wdSKQzbNO" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/k-Wu6pQFMYE?si=ZIEYbbDbz86r8bBx" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/lWNQKC5QlJk?si=3Xo5-psdQ-v0kq4U" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/YF3m1VphcLo?si=WQoMmxZOxCTShMm3" class="y-video" title="YouTube video player" allowfullscreen></iframe>
                        </div>
                    </div>
                    <button id="v-nextBtn" onclick="v_nextVideoSlide()">
                        <i class="fa-solid fa-angle-right fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="game-box">
                <div class="game-title">이런 수업은 어떤가요?🖥️</div>
                <div class="slider-container">
                    <button id="prevBtn" onclick="previousGameSlide()">
                        <i class="fa-solid fa-angle-right fa-rotate-180 fa-xl"></i>
                    </button>
                    <div class="slider">
                        <div class="slide-track">
                            <div th:each="game : ${gameList}" class="slide">
                                <a th:href="@{/game/list}">
                                <img class="image" th:src="${game.filegame_name} ? @{|/image/game/${game.filegame_name}|} : @{/image/캡처.png}" th:alt="${game.filegame_name}">
                                <span class="img-title" th:text="${game.game_title}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button id="nextBtn" onclick="nextGameSlide()">
                        <i class="fa-solid fa-angle-right fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="notice-faq">
                <div class="notice-box">
                    <div class="notice-title">공지사항
                        <a th:href="@{/notice/list}" class="more-link">더보기<i class="fa-solid fa-plus fa-sm"></i></a>
                    </div>
                    <div class="notice-list">
                        <div th:each="topNotice : ${topNoticeList}">
                            <a th:href="@{/notice/detail/{notice_no}(notice_no=${topNotice.notice_no})}">
                                <span th:text="${topNotice.notice_title}"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="faq-box">
                    <div class="faq-title">FAQ
                        <a th:href="@{FAQ/list}" class="more-link">더보기<i class="fa-solid fa-plus fa-sm"></i></a>
                    </div>
                    <div class="faq-list">
                        <div th:each="faq : ${faqList}">
                            <!-- FAQ도 동일한 상세 페이지로 이동 -->
                            <a th:href="@{/notice/detail/{notice_no}(notice_no=${faq.notice_no})}">
                                <span th:text="${faq.notice_title}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</html>