
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>사이트 제목</title>
    <!--공통으로 쓰이는 CSS 및  -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/game/gameList.css}">
    <script type="text/javascript" th:src="@{/js/admin/game/gameList.js}"></script>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>

<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div th:if="${message}" class="alert alert-success" role="alert">
    <p th:text="${message}"></p>
</div>

<div class="content">
    <div th:replace="~{common/sidebar/pay_sidebar :: pay_sidebarFragment}"></div>
    <div class="content-wrap" style="height: auto;">
        <div class="main-content">

            <div class="gameContent-search">
                <form action="/game/searchByTitle" method="get" class="form-container" id="searchForm">
                    <div class="searchReq">
                        <select name="game_title" class="titlelist" id="gameTitleSelect">
                            <option selected>게임 선택</option>
                            <option th:each="game : ${gameList}" th:value="${game.game_title}" th:text="${game.game_title}"></option>
                        </select>
                        <input type="submit" value="조회하기" id="searchButton" />
                    </div>
                </form>
                <div class="subscribe">
                    <button id="subscribeButton" disabled class="submit-button">구독하기</button>
                </div>
            </div>
            <div class="content-container">
                <ul class="list-box">
                    <li th:each="content : ${gameList}" th:attr="data-game-no=${content.game_no},data-game-title=${content.game_title}">
                        <div class="checkbox">
                            <label class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox-input" th:attr="data-game-no=${content.game_no}" name="game_nos" th:value="${content.game_no}" />
                                <span class="checkbox-tile">
                                <div class="card">
                                    <div class="poster"><img class="image" th:src="${content.filegame_name} ? @{|/image/game/${content.filegame_name}|} : @{/image/캡처.png}" th:alt="${content.filegame_name}"></div>
                                    <div class="card-details"></div>
                                    <div class="details">
                                        <h5>컨텐츠 이름 : <span th:text="${content.game_title}"></span></h5>
                                        <h5>구매금액 : <span th:text="${content.game_sell}"></span>원</h5>
                                        <h5>구독기간</h5>
                                        <h5>그룹가능인원  : 50명</h5>
                                    </div>
                                    <div class="backDetails">
                                        <div class="detaillist">
                                            <h5>난이도 : <span th:text="${content.game_level}"></span></h5>
                                            <h5>총인원 : <span th:text="${content.game_total}"></span></h5>
                                            <h5>가격 : <span th:text="${content.game_price}"></span></h5>
                                            <h5>할인 : <span th:text="${content.game_discount}"></span></h5>
                                            <h5>판매가 : <span th:text="${content.game_sell}"></span></h5>
                                            <h6>상품상세설명 : <span th:text="${content.game_content}"></span></h6>
                                        </div>
                                    </div>
                                </div>
                                </span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<button id="myBtn" title="Go to top">Top</button>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>