<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 공통으로 쓰이는 CSS 및 JS 파일 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/game/gameSales.css}">
    <script type="text/javascript" th:src="@{/js/admin/game/gameSales.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <link th:replace="~{common/fragments/config :: configFragment}"/>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/admin_sidebar :: admin_sidebarFragment}"></div>
    <div class="content-wrap">
        <div class="sales">
            <div class="salesContent">
                <div class="side-content" style="margin-bottom: 73px;">
                    <form th:action="@{/game/gameSales}" method="get" style="margin-top: -95px;">
                        <div class="period">
                            <div class="searchPeriod">
                                <div>조회기간</div>
                                <div>
                                    <input type="date" class="game_startsearch"id="game_startsearch">
                                    <input type="date" class="game_endsearch"  id="game_endsearch">
                                </div>
                            </div>
                            <div class="unit">
                                <input type="radio"  value="daily" id="daily" checked>
                                <label for="daily">일단위</label><br>
                                <input type="radio"  value="monthly" id="monthly">
                                <label for="monthly">월단위</label><br>
                            </div>
                        </div>
                        <div class="button">
                            <input type="button" value="검색" id="searchButton">
                        </div>


                        <div>
                            <div th:each="game : ${saleslist}" class="game">
                                <div class="sales_totalamount">총 매출액 :
                                    <input type="number" class="sales_totalamount" readonly th:value="${game.game_sell * SUM(game_sell)}"/>
                                    <span>원</span>
                                </div>
                                <div class="sales_totalcount">건수 :
                                    <input type="number" class="sales_totalcount" readonly th:value="${sales.sales_totalcount}"/>
                                    <span>개</span>
                                </div>
                            </div>
                        </div>

                        <!-- 조회 결과를 표시할 테이블 -->
                        <table>
                        <div class="salesTable">
                            <tr>
                                <td class="table-header">No</td>
                                <td class="table-header">일/월</td>
                                <td class="table-header">건수</td>
                                <td class="table-header">매출금액</td>
                            </tr>
                            <tr th:each="sales : ${saleslist}">
                                <td th:text="${sales.sales_no}"></td>
                                <td th:text="${sales.sales_date}"></td>
                                <td th:text="${sales.sales_count}"></td>
                                <td th:text="${sales.sales_amount}"></td>
                            </tr>
                        </div>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>