<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>학습 그룹 조회</title>
    <!--공통으로 쓰이는 CSS 및  -->
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/learning/group/educator/groupList.css}">
    <script type="text/javascript" th:src="@{/js/learning/group/educator/groupList.js}"></script>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/edu_sidebar :: edu_sidebarFragment}"></div>
    <div class="content-wrap">
        <div class="content_header">
            <div class="keyword-container">
                <h2>학습 그룹</h2>
                <div class="select-menu-group">
                    <div class="select-btn-group">
                        <span class="sBtn-text" th:text="${group_name}"></span>
                        <i class="bx bx-chevron-down"></i>
                    </div>
                    <ul class="options">
                        <li class="option" th:each="groupName : ${groupName}">
                            <span class="option-text" th:text="${groupName.group_name}"></span>
                        </li>
                    </ul>
                </div>
                <button class="search-btn">조회</button>
            </div>
            <div class="edit-delete">
                <button type="button" class="modify-btn" value="학습 그룹 상세 입력">수정</button>
                <button type="button" class="delete-btn" value="학습 그룹 상세 입력">삭제</button>
            </div>
        </div>
        <section class="main-content">
            <div class="container" >
                <div class="table-wrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>학습 그룹명</th>
                            <th>게임 콘텐츠명</th>
                            <th>그룹T/O</th>
                            <th>구독기간</th>
                            <th>등록 학생수</th>
                            <th>상세 조회</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div>
                        <tr class="tbody-tr" th:each="groupList : ${groupList}">
                            <td>
                                <label class="checkbox-wrap">
                                    <input class="checkbox" type="checkbox" th:attr="data-check-no=${groupList.group_no}">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>
                                <span class="group_name" th:attr="data-group-name=${groupList.group_name}" th:text="${groupList.group_name}"></span>
                            </td>
                            <td>
                                <span th:text="${groupList.game_title}"></span>
                            </td>
                            <td>
                                <span th:text="${groupList.group_cnt}-${groupList.group_nowcnt}"></span>
                            </td>
                            <td>
                                <span th:text="${groupList.group_enddate}"></span>
                            </td>
                            <td>
                                <span th:text="${groupList.group_nowcnt}"></span>
                            </td>
                            <td>
                                <button class="detail-search" th:attr="data-detail-no=${groupList.group_no}, data-group-name=${groupList.group_name}"><i class="ri-search-eye-line" data-tasksend_no=""></i></button>
                            </td>
                        </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div id="modal" class="modal">
            <div class="modal-wrap">
                <div class="modal-header">
                    <h2>학습 그룹</h2>
                <div class="select-menu-group">
                    <div class="select-btn-group">
                        <span class="sBtn-text1">전체</span>
                        <i class="bx bx-chevron-down"></i>
                    </div>
                    <ul class="options">
                        <li class="option" th:each="groupName : ${groupName}">
                            <span class="option-text" th:text="${groupName.group_name}" th:attr="data-no=${groupName.group_no}"></span>
                        </li>
                    </ul>
                </div>
                    <button class="search-btn1">조회</button>
                    <button class="close-modal"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="groupinfo">
                    <span>게임 콘텐츠 : 바둑 온라인 교육</span>
                    <span>그룹 제한 인원 : 50명</span>
                    <span>그룹 가능 인원 : 30명</span>
                </div>
                <hr>
                <div class="modal-content">
                    <div class="memberinfo-header">
                        <span style="width: 10%;">No</span>
                        <span style="width: 15%;">학생 이름</span>
                        <span style="width: 20%;">연락처</span>
                        <span style="width: 40%;">이메일</span>
                        <span style="width: 15%;">가입일자</span>
                    </div>
                    <ul class="member-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>