<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>둑며들다|학습 그룹 등록</title>
    <!--공통으로 쓰이는 CSS 및 -->
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/learning/group/educator/groupModify.css}">
    <script type="text/javascript" th:src="@{/js/learning/group/educator/groupModify.js}"></script>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>

<div class="content">
    <div th:replace="~{common/sidebar/edu_sidebar :: edu_sidebarFragment}"></div>

    <div class="content-wrap">
        <form th:action="@{/educator/group/modify}" method="post">
            <input type="hidden" name="group_no" th:value="${groupInfo.group_no}" th:if="${groupInfo.group_no != null}">
            <input type="hidden" class="game_start" th:value="${groupInfo.pay_date}">
            <input type="hidden" class="game_end" th:value="${groupInfo.pay_enddate}">
            <input type="hidden" class="readOnly" th:value="${groupInfo.group_nowcnt}">
            <input type="hidden" class="readOnly" th:value="${groupInfo.game_total}">
            <input type="hidden" class="readOnly" th:value="${currentCnt}">
            <header class="content-header">
                <div class="header-container">
                    <span>게임 콘텐츠명 : <span th:text="${groupInfo.game_title}"></span></span>
                    <span>학습 가능 인원 : <span class="totalNum" th:text="${groupInfo.game_total}-${currentCnt}+명"></span></span>
                    <span>그룹 총배정인원 : <span class="currentNum" th:text="${groupInfo.group_nowcnt}+명"></span></span>
                </div>
            </header>
            <div class="main-container">
                <div class="main-content">
                    <div class="title">
                        <span>그룹 상세 정보</span>
                    </div>
                </div>
                <div class="write-container">
                    <div class="educator-name-wrap">
                        <span>교육자명</span>
                        <input class="educator-name" type="text" name="member_name" th:value="${groupInfo.member_name}" readonly>
                    </div>
                    <div class="group-name-wrap">
                        <span>그룹명</span>
                        <input class="group-name" type="text" name="group_name" th:value="${groupInfo.group_name}" placeholder="그룹명을 입력해주세요.(최대 20자)" maxlength="20">
                    </div>
                    <div class="group-people-wrap">
                        <span>그룹 인원</span>
                        <select class="group-people" name="group_cnt" placeholder="숫자로 입력해주세요." th:attr="disabled=${groupInfo.group_nowcnt > 0} ? 'disabled' : null">
                            <option th:value="${groupInfo.group_cnt}" th:text="${groupInfo.group_cnt}+명">인원 선택</option>
                        </select>
                    </div>
                    <div class="period-wrap">
                        <span>구독 기간</span>
                        <label>
                            <div class="date-wrap">
                                <span>시작일</span>
                                <input class="startDate" th:value="${groupInfo.group_startdate}" type="date" name="group_startdate" th:attr="readonly=${groupInfo.group_nowcnt > 0} ? 'readonly' : null" id="startDate">
                            </div>
                            <div class="date-wrap">
                                <span>종료일</span>
                                <input class="endDate" th:value="${groupInfo.group_enddate}" type="date" name="group_enddate" th:attr="readonly=${groupInfo.group_nowcnt > 0} ? 'readonly' : null">
                            </div>
                        </label>
                    </div>
                    <div class="other-items-wrap">
                        <div class="items1">
                            <span>그룹 소개글</span>
                            <textarea name="group_intro" class="content" th:text="${groupInfo.group_intro}" placeholder="최대 100글자까지 작성 가능합니다." type="text" maxlength="100" th:attr="readonly=${groupInfo.group_nowcnt > 0} ? 'readonly' : null"></textarea>
                        </div>
                    </div>
                </div>
                <span style="color:red;">그룹에 등록된 학생이 있을 경우 그룹명만 수정이 가능합니다.</span>
            </div>
            <div class="addBtn-container">
                <input id="submitButton" type="button" value="학습 수정하기">
            </div>
            <div id="completeModal" class="complete-modal">
                <div class="modal-wrap">
                    <div class="modal-content">
                        <p>수정이 완료 되었습니다.</p>
                        <button id="confirmButton" class="confirm-btn">확인</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>
