<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>둑며들다|학습 그룹 등록</title>
    <!--공통으로 쓰이는 CSS 및  -->
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/learning/group/educator/groupAddList.css}">
    <script type="text/javascript" th:src="@{/js/learning/group/educator/groupAddList.js}"></script>
</head>
<body>
    <div th:replace="~{common/fragments/header :: headerFragment}"></div>
    <div class="content">
        <div th:replace="~{common/sidebar/edu_sidebar :: edu_sidebarFragment}"></div>
        <input id="title" type="hidden" th:value="${title}">
        <div class="content-wrap">
            <div class="content_header">
                <div class="keyword-container">
                    <h2>게임 콘텐츠</h2>
                    <div class="select-menu-group">
                        <div class="select-btn-group">
                            <span class="sBtn-text" th:text="${title}"></span>
                            <i class="bx bx-chevron-down"></i>
                        </div>
                        <ul class="options">
                            <li class="option">
                                <span class="option-text">전체</span>
                            </li>
                            <li class="option" th:each="gameTitle : ${gameTitle}">
                                <span class="option-text" th:text="${gameTitle.game_title}"></span>
                            </li>
                        </ul>
                    </div>
                    <button class="search-btn">조회</button>
                </div>
                <div class="detailBtn-container">
                    <input type="button" class="detail-btn" value="학습 그룹 상세 입력">
                </div>
            </div>
            <div class="content-container">
                <ul class="list-box">
                    <li class="" th:each="groupAddList : ${groupAddList}" th:attr="data-pay-no=${groupAddList.pay_no}">
                        <div class="checkbox">
                            <label class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox-input"  th:attr="data-pay-no=${groupAddList.pay_no}"/>
                                <span class="checkbox-tile">
                                <div class="card">
                                    <div class="poster"><img th:src="@{|/image/game/${groupAddList.filegame_name}|}"></div>
                                    <div class="card-details"></div>
                                    <div class="details">
                                        <h5>게임 콘텐츠 : <span th:text="${groupAddList.game_title}"></span></h5>
                                        <h5>게임 난이도 : <span th:text="${groupAddList.game_level}"></span></h5>
                                        <h5>학습 구독 기간 : <span th:text="${groupAddList.pay_date}"></span> ~ <span th:text="${groupAddList.pay_enddate}"></span></h5>
                                        <h5>학습 가능 인원 : <span th:attr="data-game-total=${groupAddList.game_total}" th:text="${groupAddList.game_total}+명"></span></h5>
                                        <h5>그룹 지정된 인원 : <span th:attr="data-group-cnt=${groupAddList.group_cnt}" th:text="${groupAddList.group_cnt}+명"></span></h5>
                                    </div>
                                    <div class="backDetails">
                                    <div class="detaillist">
                                        <h6>그룹 설명 :<p>
                                            <span th:text="${groupAddList.game_content}" style="font-size:14px;"></span></p></h6>
                                    </div>
                                    </div>
                                </div>
                                </span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content_footer">
                <button id="moreBtn">더보기(<span class="currentCnt"></span>/<span class="totalCnt" th:text="${totalCnt}"></span>)<i class="ri-arrow-down-s-line"></i></button>
            </div>
        </div>
    </div>
    <div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>
