<h4>제1조 (목적)</h4><br/>
이 약관은 둑며들다(이하 “회사”)가 운영하는 사이트에서 제공하는 제반 서비스의 이용과 관련하여 회사와 회원과의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.<br/>

<h4>제2조 (정의)</h4><br/>
1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br/>
(1) "서비스"라 함은 구현되는 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 회사가 회원에게 제공하는 온라인기원 서비스를 의미합니다.<br/>
(2) "회원"이라 함은 회사의 서비스에 접속하여 이 약관에 따라 회사와 이용계약을 체결하고 회사가 제공하는 게임서비스 및 교육 자격을 부여 받은 자를 의미합니다.<br/>
(3) “아이디(ID)”라 함은 회원의 식별과 서비스 이용을 위하여 회원이 정하고 회사가 승인하는 문자와 숫자의 조합을 의미합니다.<br/>
(4) “비밀번호”라 함은 회원이 부여 받은 계정(ID)과 일치되는 회원임을 확인하고 회원의 정보 및 권익보호를 위해 회원 자신이 정하여 비밀로 관리하는 문자 또는 숫자의 조합을 의미합니다.<br/>
(7) “유료서비스”라 함은 회원이 회사가 제공하는 결제 방식을 통해 유료로 구매 후 사용할 수 있는 서비스로, 각 서비스는 다음 내용으로 제공될 수 있습니다.<br/>
① 게임: 게임을 구매하여 회원이 원하는 단계의 교육을 제공 받을 수 있는 서비스<br/>
② 교육자료: 선생님이 지원하는 숙제 및 게임 구매시 추가로 제공되는 교육자료<br/>
2. 이 약관에서 사용하는 용어의 정의는 제1항 각호에서 정하는 것을 제외하고는 관계법령 및 기타 일반적인 상관례에 의합니다.<br/>

<h4>제3조 (회사정보 등의 제공)</h4><br/>
회사는 다음 각호의 사항을 둑며들다 초기화면(https://local/)에 게시하여, 회원이 이를 쉽게 알 수 있도록 합니다. 다만, 개인정보처리방침과 이 약관은 회원이 연결화면을 통하여 볼 수 있도록 할 수 있습니다.<br/>
(1) 상호 및 대표자의 성명<br/>
(2) 영업소 소재지 주소(회원의 불만을 처리할 수 있는 곳의 주소를 포함한다) 및 전자 우편주소<br/>
(3) 전화번호<br/>
(4) 사업자등록번호, 통신판매업 신고번호<br/>
(5) 개인정보처리방침<br/>
(6) 서비스 이용약관<br/>

<h4>제4조 (약관의 게시와 개정)</h4><br/>
1. 회사는 이 약관의 내용을 회원이 쉽게 알 수 있도록 게임서비스 초기 화면(https://www.cyberoro.com/)에 게시하거나 연결화면을 통해 제공하는 방법으로 회원에게 공지합니다.<br/>
2. 회사는 회원이 고객센터를 통해 회사와 이 약관의 내용에 관하여 질의 및 응답을 할 수 있도록 조치를 취합니다.<br/>
3. 회사는 게임서비스를 이용하고자 하는 자(이하 ‘이용자’라 함)가 약관의 내용을 쉽게 알 수 있도록 작성하고 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회, 과오납금의 환급, 계약해제·해지, 회사의 면책사항 및 회원에 대한 피해보상 등과 같은 중요한 내용을 이용자가 쉽게 이해할 수 있도록 굵은 글씨 등으로 처리하거나 별도의 연결화면 또는 팝업화면 등을 통해 제공하고 이용자의 동의를 얻도록 합니다.<br/>
4. 회사는 “약관의 규제에 관한 법률”, “정보통신망이용촉진 및 정보보호 등에 관한 법률”, “게임산업진흥에 관한 법률”, "전자상거래 등에서의 소비자보호에 관한 법률", "콘텐츠산업 진흥법" 등 관계 법령을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br/>
5. 회사가 이 약관을 개정할 경우에는 적용일자 및 개정내용, 개정사유 등을 명시하여 그 적용일자로부터 최소한 7일 이전 (회원에게 불리하거나 중대한 사항의 변경은 30일 이전)부터 그 적용일자 경과 후 상당한 기간이 경과할 때까지 세계사이버기원 초기화면 또는 초기화면과의 연결화면을 통해 공지합니다.<br/>
6. 회사가 이 약관을 개정할 경우에는 개정 약관 공지 후 개정 약관의 적용에 대한 회원의 동의 여부를 확인합니다. 단, 개정 약관 공지 시 회원이 동의 또는 거부의 의사표시를 하지 않으면 승낙한 것으로 간주 하겠다는 내용도 함께 공지한 경우에는 회원이 약관 시행일까지 거부 의사를 표시하지 않는다면 개정 약관에 동의한 것으로 봅니다.<br/>
7. 회원이 개정 약관의 적용에 동의하지 않는 경우 회사는 해당 회원에 대해 개정 약관의 내용을 적용할 수 없으며, 이 경우 회원 또는 회사는 이용계약을 해지할 수 있습니다.<br/>

<h4>제5조 (운영정책)</h4><br/>
1. 회사는 이 약관을 적용하기 위하여 필요한 사항과 회원의 권익을 보호하고 사이트 내 질서를 유지하기 위하여 이 약관에서 구체적 범위를 정하여 위임한 사항을 서비스 운영정책(이하 “운영정책”)으로 정할 수 있습니다.<br/>
2. 회사는 운영정책의 내용을 회원이 알 수 있도록 초기 화면이나 서비스 홈페이지에 게시하거나 연결화면을 통해 제공하는 방법으로 회원에게 공지하여야 합니다.<br/>
3. 회원의 권리 또는 의무에 중대한 변경을 가져오거나 약관 내용을 변경하는 것과 동일한 효력이 발생하는 운영정책 개정의 경우에는 제4조의 절차에 따릅니다. 단, 운영정책 개정이 다음 각호의 어느 하나에 해당하는 경우에는 제2항의 방법으로 사전에 공지합니다.<br/>
(1) 이 약관에서 구체적으로 범위를 정하여 위임한 사항을 개정하는 경우<br/>
(2) 회원의 권리, 의무와 관련 없는 사항을 개정하는 경우<br/>
(3) 운영정책의 내용이 이 약관에서 정한 내용과 근본적으로 다르지 않고 회원이 예측 가능한 범위 내에서 운영정책을 개정하는 경우<br/>

<h4>제6조 (약관 외 준칙)</h4><br/>
1. 회사는 개별 게임서비스에 대해서는 별도의 이용약관 및 운영정책(이하 “개별 게임 서비스약관 등”)을 둘 수 있으며, 해당 내용이 이 약관과 상충할 경우에는 개별 게임서비스 약관 등이 우선하여 적용됩니다.<br/>
2. 이 약관에서 정하지 아니한 사항이나 해석에 대해서는 개별 게임서비스 약관 등 및 “전자상거래 등에서의 소비자보호에 관한 법률”, “약관의 규제에 관한 법률”, “게임산업진흥에 관한 법률”, “정보통신망 이용촉진 및 정보보호 등에 관한 법률”, “콘텐츠산업 진흥법” 등 관계법령, 일반 상관례에 따릅니다.<br/>

<부칙>
    1. 이 약관은 2023년 10월 1일부터 시행됩니다.