<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>둑며들다|회원 가입</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/join/join.css}">
    <script type="text/javascript" th:src="@{/js/member/join.js}"></script>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="container">
    <div class="container__form container--signup">
        <form id="joinForm" class="form" th:action="@{/member/join}" th:object="${joinForm}" method="post">
            <input type="hidden" name="member_name" th:value="${name}">
            <input type="hidden" th:value="${email}">
            <input type="hidden" th:value="${phone}">

            <h1 class="h1">회원 가입</h1>
            <h6 class="h6">나머지 개인정보를 입력해주세요.</h6>
            <hr class="line1">

            <h2 class="form__title">인증 정보</h2>
            <hr class="line">
            <div class="page1">
                <div class="info">
                    <label>이름: <span th:text="${name}"></span></label>
                    <div id="emailInfo">
                        <label>이메일: <span id="emailInfo2" th:text="${email}"></span></label>
                    </div>
                    <div id="phoneInfo">
                        <label>폰번호: <span id="phoneInfo2" th:text="${phone}"></span></label>
                    </div>
                </div>
            </div>
            <h2 class="form__title">정보 입력</h2><hr class="line1">
            <div class="inputInfo">
                <span class="spanName">아이디</span> <input type="text" class="idInput" id="id" th:field="*{member_id}" onchange = "checkId()" placeholder="아이디를 입력하세요.">
                <span class="id_ok" style="display:none; color:green;">사용 가능한 아이디입니다.</span>
                <span class="id_already">이미 사용중인 아이디입니다.</span>
                <span class="id_required" style="display: none; color: red;">아이디를 입력해주세요.</span>
                <span class="id_pattern" style="display: none; color: red;">아이디는 영어 소문자와 숫자를 사용하여 4~20자리여야 합니다.</span>
                <br/>

                <span class="spanName">비밀번호</span><input type="password" id="pw" class="pwInput" th:field="*{member_pw}" placeholder="비밀번호를 입력하세요.">
                <span class="pw_required" style="display: none; color: red;">비밀번호를 입력해주세요.</span>
                <span class="pw_pattern" style="display: none; color: red;">비밀번호는 최소 8자 이상, 영어, 숫자, 특수 문자가 포함되어야 합니다.</span><br/>

                <span class="spanName">비밀번호 확인</span><input type="password" id="repw" class="pwReInput" th:field="*{member_repw}" onchange = "checkPwd()" placeholder="비밀번호를 확인해주세요.">
                <span class="pwCheck" style="display: none; color: red;">입력하신 비밀번호와 일치하지 않습니다.</span><br/>

                <div class="birth" id="info__birth">
                <input type="hidden" name="member_birth" id="member_birth" th:field="*{member_birth}">
                <span class="birthName">생년월일</span>
                <select name="yy" id="year"><option disabled selected>출생 연도</option></select>
                <select name="mm" id="month"><option disabled selected>월</option></select>
                <select name="dd" id="day"><option disabled selected>일</option></select><br/>
                    <div class="error-msg"></div>
                </div>

                <!--  인증 정보에 없는 값의 input이 보여져야함.  -->
                <div id="phoneField">
                    <span class="spanName">휴대폰번호</span>
                    <input type="text" class="phoneInput" id="phone" th:field="*{member_phone}" placeholder="휴대폰번호를 입력해주세요.">
                    <span class="phone_required" style="display: none; color: red;">핸드폰번호를 입력해주세요.</span>
                    <span class="phone_pattern" style="display: none; color: red;">-(하이픈)을 제외한 10~11자리의 핸드폰 번호를 입력해주세요.</span>
                </div><br/>

                <div id="emailField">
                    <span class="emailName">이메일</span>
                    <input type="text" class="emainInput" id="email" th:field="*{member_email}" placeholder="이메일을 입력해주세요.">
                    <span class="email_required" style="display: none; color: red;">이메일을 입력해주세요.</span>
                    <span class="email_pattern" style="display: none; color: red;">이메일을 다시 확인해주세요.</span>
                    <span class="email_duplicate" style="display: none; color: red;">이미 사용중인 이메일입니다.</span>
                </div>


                <div class="radiodiv">
                    <span class="memberType">회원유형</span>
                    <label for="teacher" class="radio">
                        <input type="radio" class="typeRadio" id="teacher" th:field="*{role}" value="ROLE_TEACHER" >
                        <span class="edu">교육자</span></label>
                    <label for="user" class="radio">
                        <input type="radio" class="typeRadio" id="user" th:field="*{role}" checked="checked" value="ROLE_USER">
                        <span>회원</span></label><br/>
                </div>
                <div id="codeInput" style="display: none;">
                    <label>
                        <span class="spanName">코드</span>
                        <input type="text" class="input" name="edu_code" id="roleCode" onchange="checkCode()">
                        <span class="role_required" style="display: none; color: red;">회원 유형을 선택해주세요.</span>
                        <span class="code_dup" style="display: none;">본인 코드를 입력해주세요.</span>
                        <span class="code_no" style="display: none;">코드가 일치하지 않습니다.</span>
                    </label>
                </div>


                <div class="radiodiv">
                    <span class="genderName">성별</span>
                    <label for="male" class="radio">
                        <input type="radio" id="male" th:field="*{member_gender}" value="male" checked>
                        <span>남자</span></label>
                    <label for="female" class="radio">
                        <input type="radio" id="female" th:field="*{member_gender}" value="female">
                        <span>여자</span></label><br/>
                </div>


                <div class="abver1">
                    <span class="telName">집전화번호</span>
                    <input type="text" class="input" id="telNumberSelect" th:field="*{member_tell}" placeholder="전화번호를 입력해주세요.">
                    <input type="checkbox" id="noPhoneNumber" th:value="none">
                    <label for="noPhoneNumber">없음</label>
                </div>

                <label class="abver">
                    <span class="agree">이벤트, 커리큘럼, 신규콘텐츠 등 광고 메세지 수신</span>
                    <input type="checkbox" th:field="*{member_agreeM}" value="동의">이메일
                    <input type="checkbox" th:field="*{member_agreeP}" value="동의">SMS
                </label><br/><hr class="line1">
            </div>

            <div class="button">
                <button type="submit" id="submitBtn" class="btn" onclick="birth()" disabled>회원가입</button>
                <input type="hidden" name="next" value="2">
            </div>
    </form>
</div>
</div>
</body>
</html>