<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>둑며들다|회원 가입</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/member/join/join.css}">
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="container">
    <div class="container__form container--signup">
        <form id="joinForm" class="form" th:action="@{/member/join}" th:object="${joinForm}" method="post">
            <input type="hidden" name="member_name" th:value="${name}">
            <input type="hidden" name="member_email" th:value="${email}">
            <input type="hidden" name="member_phone" th:value="${phone}">

            <h1 class="h1">회원 가입</h1>
            <h6 class="h6">나머지 개인정보를 입력해주세요.</h6>
            <hr class="line1">

            <h2 class="form__title">인증 정보</h2>
            <hr class="line">
            <div class="page1">
                <div class="info">
                    <label>이름: <span th:text="${name}"></span></label>
                    <div id="emailInfo">
                        <label>이메일: <span id="emailInfo2" th:text="${email}"></span></label>
                    </div>
                    <div id="phoneInfo">
                        <label>폰번호: <span id="phoneInfo2" th:text="${phone}"></span></label>
                    </div>
                </div>
            </div>
            <h2 class="form__title">정보 입력</h2><hr class="line1">
            <div class="inputInfo">
                <span class="spanName">아이디</span> <input type="text" class="idInput" id="id" th:field="*{member_id}" onchange = "checkId()" placeholder="아이디를 입력하세요.">
                <span class="id_ok">사용 가능한 아이디입니다.</span>
                <span class="id_already">이미 사용중인 아이디입니다.</span>
                <span class="id_required" style="display: none; color: red;">아이디를 입력해주세요.</span>
                <span class="id_pattern" style="display: none; color: red;">아이디는 영어 소문자와 숫자를 사용하여 4~20자리여야 합니다.</span>
                <br/>

                <span class="spanName">비밀번호</span><input type="password" id="pw" class="pwInput" th:field="*{member_pw}" placeholder="비밀번호를 입력하세요.">
                <span class="pw_required" style="display: none; color: red;">비밀번호를 입력해주세요.</span>
                <span class="pw_pattern" style="display: none; color: red;">비밀번호는 최소 8자 이상, 영어, 숫자, 특수 문자가 포함되어야 합니다.</span><br/>

                <span class="spanName">비밀번호 확인</span><input type="password" id="repw" class="pwReInput" th:field="*{member_repw}" onchange = "checkPwd()" placeholder="비밀번호를 확인해주세요.">
                <span class="pwCheck">입력하신 비밀번호와 일치하지 않습니다.</span><br/>

                <div class="birth" id="info__birth">
                <input type="hidden" name="member_birth" id="member_birth" th:field="*{member_birth}">
                <span class="birthName">생년월일</span>
                <select name="yy" id="year"><option disabled selected>출생 연도</option></select>
                <select name="mm" id="month"><option disabled selected>월</option></select>
                <select name="dd" id="day"><option disabled selected>일</option></select><br/>
                    <div class="error-msg"></div>
                </div>

                <!--  인증 정보에 없는 값의 input이 보여져야함.  -->
                <div id="phoneField">
                    <span class="spanName">휴대폰번호</span>
                    <input type="text" class="phoneInput" id="phone" th:field="*{member_phone}" placeholder="휴대폰번호를 입력해주세요.">
                    <span class="phone_required" style="display: none; color: red;">핸드폰번호를 입력해주세요.</span>
                    <span class="phone_pattern" style="display: none; color: red;">-(하이픈)을 제외한 10~11자리의 핸드폰 번호를 입력해주세요.</span>
                </div><br/>

                <div id="emailField">
                    <span class="emailName">이메일</span>
                    <input type="text" class="emainInput" id="email" th:field="*{member_email}" placeholder="이메일을 입력해주세요."><br/>
                    <span class="email_required" style="display: none; color: red;">이메일을 입력해주세요.</span>
                    <span class="email_pattern" style="display: none; color: red;">이메일을 다시 확인해주세요.</span>
                </div>

                <label>
                    <span class="spanName">회원유형</span>
                    <select th:field="*{role}" class="role">
                        <option value="">회원 유형을 선택해주세요.</option>
                        <option value="ROLE_ADMIN" >관리자</option>
                        <option value="ROLE_TEACHER" >선생님</option>
                        <option value="ROLE_USER">학생</option>
                    </select>
                    <span class="role_required" style="display: none; color: red;">회원 유형을 선택해주세요.</span>
                </label><br/>


                <div class="radiodiv">
                    <span class="genderName">성별</span>
                    <label for="male" class="radio">
                        <input type="radio" id="male" th:field="*{member_gender}" value="male" checked>
                        <span>남자</span></label>
                    <label for="female" class="radio">
                        <input type="radio" id="female" th:field="*{member_gender}" value="female">
                        <span>여자</span></label><br/>
                </div>


                <div class="abver1">
                    <span class="telName">집전화번호</span>
                    <input type="text" class="input" id="telNumberSelect" th:field="*{member_tell}" placeholder="전화번호를 입력해주세요.">
                    <input type="checkbox" id="noPhoneNumber" th:value="none">
                    <label for="noPhoneNumber">없음</label>
                </div>

                <label class="abver">
                    <span class="agree">이벤트, 커리큘럼, 신규콘텐츠 등 광고 메세지 수신</span>
                    <input type="checkbox" th:field="*{member_agreeM}" value="동의">이메일
                    <input type="checkbox" th:field="*{member_agreeP}" value="동의">SMS
                </label><br/><hr class="line1">
            </div>

            <div class="button">
                <button type="submit" class="btn" onclick="birth()">회원가입</button>
                <input type="hidden" name="next" value="2">
            </div>
    </form>
</div>
</div>
</body>
</html>

<script>
    //본인 인증 값에 따라 input 변경
    $(document).ready(function () {
        $("#phoneInfo").hide();
        $("#emailInfo").hide();

        $("#emailField").hide();
        $("#phoneField").hide()

        var phone = $("span#phoneInfo2").text();
        var email = $("span#emailInfo2").text();


        if (email !== "") {
            $("#emailInfo").show();
            $("#phoneField").show();
        }
        if (phone !== "") {
            $("#phoneInfo").show();
            $("#emailField").show();
        }
    });

    //생년월일 드롭다운
    $(document).ready(function () {
        var now = new Date();
        var year = now.getFullYear();
        var mon = (now.getMonth() + 1) > 9 ? '' + (now.getMonth() + 1) : '0' + (now.getMonth() + 1);
        var day = (now.getDate()) > 9 ? '' + (now.getDate()) : '0' + (now.getDate());

        //년도
        for (var i = 1900; i <= year; i++) {
            $('#year').append('<option value="' + i + '">' + i + '년</option>');

        }

        //월
        for (var i = 1; i <= 12; i++) {
            var mm = i > 9 ? i : "0" + i;
            $('#month').append('<option value="' + mm + '">' + mm + '월</option>');
        }

        //일
        for (var i = 1; i <= 31; i++) {
            var dd = i > 9 ? i : "0" + i;
            $('#day').append('<option value="' + dd + '">' + dd + '일</option>');
        }
        $("#year > option[value=" + year + "]").attr("selected", "true");
        $("#month > option[value=" + mon + "]").attr("selected", "true");
        $("#day > option[value=" + day + "]").attr("selected", "true");

        // 각 드롭다운을 "출생 연도", "월", "일"로 기본 값으로 설정
        $('#year').val('출생 연도'); // "출생 연도"로 설정
        $('#month').val('월'); // "월"로 설정
        $('#day').val('일'); // "일"로 설정
    });

    //생년월일 합치기
    function birth() {
        const year = document.getElementById("year").value;
        const month = document.getElementById("month").value;
        const day = document.getElementById("day").value;

        // 년, 월, 일을 하나의 문자열로 합칩니다. (예: "2023-09-26")
        const birth = year + "-" + month + "-" + day;

        // member_birth 필드에 값을 설정합니다.
        document.getElementById("member_birth").value = birth;

    }

    //아이디 유효성
    $("#id").keyup(function() {
        var idValue = $(this).val();
        var idPattern = /^(?=.*[a-z])(?=.*\d)[a-z0-9]{4,20}$/;
        var id_ok = $(".id_ok");
        var id_required = $(".id_required");
        var id_pattern = $(".id_pattern");

        if (idValue === "") {
            id_required.show();
            id_pattern.hide();
            id_ok.hide();
            return;
        }

        if (!idPattern.test(idValue)) {
            id_required.hide();
            id_pattern.show();
            id_ok.hide();
            return;
        }

        id_required.hide();
        id_pattern.hide();
        id_ok.show();

        //아이디 중복검사
        checkId(idValue);
    });

    //아이디 동기화방식 중복체크
    function checkId(){
        var id = $('#id').val();
        if (idValue === "") {
            // 아이디가 비어있으면 중복 검사를 실행하지 않음
            return;
        }
        $.ajax({
            url:'idCheck', //controller요청주소
            type:'post',
            data:{id:id},
            success:function (cnt){
                console.log(cnt)
                if(cnt == 0){ //cnt 1 = 중복 0 사용가능
                    $('.id_ok').css("display","inline-block");
                    $('.id_already').css("display","none");
                }else{
                    $('.id_already').css("display","inline-block");
                    $('.id_ok').css("display","none");
                    $('#id').val('');
                }
            },
            error:function (){
                alert("error")
            }
        });
    }

    //비밀번호 유효성
    $("#pw").keyup(function() {
        var pwValue = $(this).val();
        var pwPattern = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[\W_]).{8,}$/;
        var pw_required = $(".pw_required");
        var pw_pattern = $(".pw_pattern");

        if (pwValue === "") {
            pw_required.show();
            pw_pattern.hide();
            return;
        }

        if (!pwPattern.test(pwValue)) {
            pw_required.hide();
            pw_pattern.show();
            return;
        }

        pw_required.hide();
        pw_pattern.hide();

    });

    //비밀번호 일치여부 확인
    function checkPwd(){
        var pw = $("#pw").val();
        var repw = $('#repw').val();

        if(pw !== repw){
            $('.pwCheck').css("display","inline-block");
        }else {
            $('.pwCheck').css("display","none");
        }
    }

    //생년월일 유효성
    const birthArr = [-1, -1, -1];
    const birthErrorMsgEl = document.querySelector('.error-msg');

    const birthYearEl = document.querySelector('#year');
    const birthMonthEl = document.querySelector('#month');
    const birthDayEl = document.querySelector('#day');

    birthYearEl.addEventListener('change', () => {
        birthArr[0] = birthYearEl.value;
        checkBirthValid(birthArr);
    });

    birthMonthEl.addEventListener('change', () => {
        birthArr[1] = birthMonthEl.value;
        checkBirthValid(birthArr);
    });

    birthDayEl.addEventListener('change', () => {
        birthArr[2] = birthDayEl.value;
        checkBirthValid(birthArr);
    });

    function checkBirthValid(birthArr) {
        let isBirthValid = true;
        const y = parseInt(birthArr[0]);
        const m = parseInt(birthArr[1]);
        const d = parseInt(birthArr[2]);

        if (y > 0 && m > 0 && d > 0) {
            if (m === 4 || m === 6 || m === 9 || m === 11) {
                if (d === 31) {
                    isBirthValid = false;
                }
            } else if (m === 2) {
                if (((y % 4 === 0) && (y % 100 !== 0)) || (y % 400 === 0)) {
                    if (d > 29) {
                        isBirthValid = false;
                    }
                } else {
                    if (d > 28) {
                        isBirthValid = false;
                    }
                }
            } else {
                if (d > 31) {
                    isBirthValid = false;
                }
            }

            if (isBirthValid) {
                birthErrorMsgEl.textContent = "";
                // 이 부분에서 생년월일을 취합할 수 있습니다.
                const birthDate = y + '-' + (m < 10 ? '0' : '') + m + '-' + (d < 10 ? '0' : '') + d;
                document.getElementById('member_birth').value = birthDate;
            } else {
                birthErrorMsgEl.textContent = "생년월일을 다시 확인해주세요";
                birthErrorMsgEl.style.color = "red";
                document.getElementById('member_birth').value = "";
            }
        }
    }

    //핸드폰번호 유효성
    $("#phone").keyup(function() {
        var phoneValue = $(this).val();
        var phonePattern = /^01[016789]\d{3,4}\d{4}$/;
        var phone_required = $(".phone_required");
        var phone_pattern = $(".phone_pattern");

        if (phoneValue === "") {
            phone_required.show();
            phone_pattern.hide();
            return;
        }

        if (!phonePattern.test(phoneValue)) {
            phone_required.hide();
            phone_pattern.show();
            return;
        }

        phone_required.hide();
        phone_pattern.hide();
    });

    //이메일 유효성
    $("#email").keyup(function() {
        var emailValue = $(this).val();
        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        var email_required = $(".email_required");
        var email_pattern = $(".email_pattern");

        if (emailValue === "") {
            email_required.show();
            email_pattern.hide();
            return;
        }

        if (!emailPattern.test(emailValue)) {
            email_required.hide();
            email_pattern.show();
            return;
        }

        email_required.hide();
        email_pattern.hide();
    });

    //회원유형 유효성
    $(document).ready(function () {
        var roleSelect = $(".role");
        var roleRequired = $(".role_required");

        roleSelect.change(function () {
            var selectedRole = roleSelect.val();

            // 유효성 검사
            if (selectedRole === "") {
                roleRequired.show();
            } else {
                roleRequired.hide();
            }
        });
    });

    // 회원가입 버튼 비활성화
    $(document).ready(function () {
        // 회원가입 버튼과 필드를 선택합니다.
        var submitButton = $("button[type='submit']");
        var fields = $("input[type='text'], input[type='password'], select");
        var noPhoneNumber = $("#noPhoneNumber");

        // 초기에 버튼을 비활성화합니다.
        submitButton.prop("disabled", true);

        // 필드가 변경될 때마다 확인합니다.
        fields.on("change keyup", function () {
            var allFieldsFilled = true;

            // 각 필드를 확인합니다.
            fields.each(function () {
                if ($(this).val() === "") {
                    allFieldsFilled = false;
                    return false; // 하나라도 빈 필드가 있으면 종료합니다.
                }
            });

            // 모든 필드가 값으로 채워졌을 때 버튼을 활성화합니다.
            if (allFieldsFilled || (noPhoneNumber.val() === "none")) {
                submitButton.prop("disabled", false);
            } else {
                submitButton.prop("disabled", true);
            }
        });
    });

</script>