@charset "UTF-8";
.head {
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-bottom: 30px;
    line-height: 35px;
}
.edupost_category {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 31px;
    font-size: 16px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
}
.edupost_type {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 31px;
    font-size: 16px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
}
.edupost_service {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 16px;
    font-size: 16px;
}
.texarea1 {
    border: 1px solid #d1d1d1;
    width: 80%;
    margin-left: 10px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;

}
.texarea2 {
    border: 1px solid #d1d1d1;
    height: 300px;
    width: 80%;
    margin-left: 31px;
    margin-bottom: 20px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
}
.opt {
    margin-top: 15px;
}

.fileselect {
    position: relative;
    right: -4px;
}
.fileup {
    position: relative;
    right: -35px;
    width: 234px;
    font-size: 12px;
}
.bt_1 {
    position: relative;
    right: -342px;
    bottom: 29px;
}
.btn_sub {
    position: relative;
    left: 45rem;
    width: 100px;
    height: 36px;
    color: white;
    background: black;
    cursor: pointer;
}
.pay-datelist{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top:10px;
}

.pay-date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 16px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}

input{
    height: 30px;
    width: 200px;
    text-align: center;
}

.submit-button{
    width: 150px;
    height: 32px;
}

.pay-list{
    width: 100%;
    height: auto;
}

.pay-listbox{
    margin: 10px;
    display: flex;
    align-items: center;
}

.contents-container{
    display: inline-block;
    width: 300px;
    height: auto;
    margin-left:50px;
}

.wrapper {
    position: relative;
    width: 90%;
    height: 90%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card-details{
    margin-top:12px;
}

.poster{
    margin: 10px;
    width: auto;
    height: auto;
    object-fit: cover;
    transition: .3s;
}

img{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.details {
    position: absolute;
    bottom: -101%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    color: #fff;
    z-index: 2;
    font-size: 20px;
    /* transition: .3s; */
}

.card:hover .details {
    bottom: 0;
}
