@charset "UTF-8";
.head {
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-bottom: 30px;
    line-height: 35px;
}
.btns_fn_add_btn  {
    width: 80px;
    font-size: 15px;
    height: 35px;
    border:none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background: #8a8aff;
    color:white;
    cursor: pointer;
}
.btns_del_btn  {
    width: 65px;
    font-size: 15px;
    height: 35px;
    border:none;
    border-radius: 5px;
    background: red;
    color:white;
    margin-left: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
.OOO {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.OOO > div{
    display: flex;
    margin: 0;
    margin-bottom: 15px;
}
.OOO > div > label{
    margin: 0;
    width: 12%;
}

.OOO > div >  input{
    margin: 0;
    width: 50%;
}

.OOO > div >  select{
    margin: 0;
    width: 20%;
}

.file_list .file_input {
    display: flex;
    height: 50px;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 10px;
    vertical-align: middle;
    width: 80%;
    color: #999999;
}
.file_list label {
    display: inline-table;
    padding: 7px 14px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.file_list input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.edupost_category {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    font-size: 16px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
}
.edupost_type {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 77px;
    font-size: 16px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
}
.edupost_service {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    font-size: 16px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.texarea1 {
    border: 1px solid #d1d1d1;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;

}
.texarea2 {
    border: 1px solid #d1d1d1;
    height: 300px;
    width: 80%;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    box-radius: 5px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
}
.file_list {
    display: flex;
    width: 344px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.fileselect {
}
.fileup {
    display: flex;
    border: none;
    margin: 0;
    background: none;
}
.bt_1 {
    position: relative;
    right: 178px;
    display: flex;
    flex-direction: row-reverse;
}
.btn_sub {
    position: relative;
    left: 51rem;
    width: 120px;
    height: 36px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background: #ccc;
    cursor: pointer;
    line-height: 0;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    color: black;
    font-family: 'Binggrae', sans-serif;
}
.btn_update {
    border: none;
    color: white;
    background: black;
    width: 100px;
    height: 36px;
    cursor: pointer;
}
.btns_del_btn {
    width: 40px;
    height: 25px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top:10px;
}

input{
    height: 30px;
    width: 200px;
    text-align: center;
}

.submit-button{
    width: 150px;
    height: 32px;
}

.contain {
    display: flex;
    justify-content: center;
    float: left;
}
td {
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}
th, td {
    padding-left: 15px;
}

.cont {
    display: flex;
    flex-direction: column;
}

.btn_box {
    margin-bottom: 51px;
    position: relative;
    right: -372px;
    bottom: -30px;
}