@charset "UTF-8";

#leftHeader {
    margin-bottom: 15px;
}

#pagination{
    display: flex;
    margin: 15px 0 0 15px;
    gap: 5px;
    justify-content: center;
}

.pagination-container a {
    float: left;
    display: flex;
    text-decoration: none;
    width: 35px;
    height: 100%;
    align-items: center;
}

.pagination-container li {
    margin: 0;
    text-align: center;
    width: 35px;
    height: 30px;
}

.pagination-container a:hover:not(.active) {
    background-color: #ddd;
    border-radius : 5px;
    width: 100%;
    text-align: center;
    display: flex;
    height: 30px;
    align-items: center;
}

.active-page {
    background: #b2d3ff;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    text-align: center;
    display: flex;
    height: 30px;
    align-items: center;
}
.head {
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-bottom: 30px;
    line-height: 35px;
}

table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

th {
    text-align: left;
}

thead {
    font-weight: bold;
    background: #b2d3ff;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #73685d;
}

@media all and (max-width: 768px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        text-align: right;
    }

    table {
        position: relative;
        padding-bottom: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    thead {
        float: left;
        white-space: nowrap;
    }

    tbody {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
    }

    tr {
        display: inline-block;
        vertical-align: top;
    }

    th {
        border-bottom: 1px solid #a39485;
    }

    td {
        border-bottom: 1px solid #e5e5e5;
    }

    .active-page {
        background: #f9ecbe;
        border-radius: 8px;
    }

}