@charset "UTF-8";

.main-content{
    width: 100%;
    height: 780px;
    display: flex;
    flex-direction: column;
}

.pay-datelist{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top:10px;
}

.pay-date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 16px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}

input{
    height: 30px;
    width: 200px;
    text-align: center;
}

.submit-button{
    width: 150px;
    height: 32px;
}

.pay-list{
    width: 100%;
    height: auto;
}

.pay-listbox{
    margin: 10px;
    display: flex;
    align-items: center;
}

.contents-container{
    display: inline-block;
    width: 300px;
    height: auto;
    margin-left:50px;
}

.wrapper {
    position: relative;
    width: 90%;
    height: 90%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card-details{
    margin-top:12px;
}

.poster{
    margin: 10px;
    width: auto;
    height: auto;
    object-fit: cover;
    transition: .3s;
}

img{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.details {
    position: absolute;
    bottom: -101%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    color: #fff;
    z-index: 2;
    font-size: 20px;
    /* transition: .3s; */
}

.card:hover .details {
    bottom: 0;
}

h1, h2, h3, h4{
    font-size: 17px;
    display: flex;
    justify-content: center;
}