@charset "UTF-8";
.head {
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-bottom: 30px;
    line-height: 35px;
}
.edupost_category {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 31px;
    font-size: 16px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
}
.edupost_type {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 31px;
    font-size: 16px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
}
.edupost_service {
    height: 29px;
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 20%;
    margin-left: 16px;
    font-size: 16px;
}
.texarea1 {
    border: 1px solid #d1d1d1;
    width: 80%;
    margin-left: 10px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;

}
.texarea2 {
    border: 1px solid #d1d1d1;
    height: 300px;
    width: 80%;
    margin-left: 31px;
    margin-bottom: 20px;
    box-shadow : 1px 1px 3px rgba(0,0,0,0.1);
    box-radius : 5px;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}
.opt {
    margin-top: 15px;
}

.fileselect {
    position: relative;
    right: -4px;
}
.fileup {
    position: relative;
    right: -35px;
    width: 234px;
    font-size: 12px;
}
.bt_1 {
    position: relative;
    right: -342px;
    bottom: 29px;
}
.btn_sub {
    position: relative;
    left: 45rem;
    width: 100px;
    height: 36px;
    color: white;
    background: black;
    cursor: pointer;
}
.btn_update {
    border: none;
    color: white;
    background: black;
    width: 100px;
    height: 36px;
    cursor: pointer;
}
.btn_del {
    border: none;
    color: white;
    background: darkred;
    width: 100px;
    height: 36px;
    cursor: pointer;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top:10px;
}

input{
    height: 30px;
    width: 200px;
    text-align: center;
}

.submit-button{
    width: 150px;
    height: 32px;
}

.contain {
    display: flex;
    justify-content: center;
    float: left;
}
td {
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}
th, td {
    padding-left: 15px;
}

.cont {
    display: flex;
    flex-direction: column;
}

.btn_box {
    margin-bottom: 51px;
    position: relative;
    right: -372px;
    bottom: -30px;
}