<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="guide_sidebarFragment">
    <div class="side-bar active">
        <div class="menu">
            <div class="item">
                <a href="#">사이트 소개</a>
            </div>
            <div class="item">
                <a href="#">이용 가이드</a>
            </div>
            <div class="item">
                <div class="item">
                <a class="sub-btn">컨텐츠 소개<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a th:href="@{/contents/contentsGame}" class="sub-item">바둑 게임(앱)</a>
                    <a th:href="@{/contents/contentsTutorial}" class="sub-item">튜토리얼</a>
                    <a href="#">바둑 영상</a>
                </div>
            </div>
            <div class="item">
                <a th:href="@{/notice/list}">공지 사항</a>
            </div>
            <div class="item">
                <a th:href="@{/FAQ/list}">FAQ</a>
            </div>
            <div class="item">
                <a th:href="@{/question/list}">Q&A</a>
            </div>
        </div>
    </div>
    </div>
</th:block>
</html>