body {
  font-family: 'Arial', sans-serif; /* 사용자의 시스템에 따라 원하는 글꼴로 변경 가능 */
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.find-account {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  font-weight: normal;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.input-group input:focus {
  border-color: #7289da; /* 포커스 된 상태에서의 테두리 색상 */
}

.submit button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #7289da; /* 버튼 배경 색상 */
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.submit button:hover {
  background-color: #5b6eae; /* 마우스 오버 시의 배경 색상 */
}