body {
  font-family: 'Noto Sans', 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* 콘텐츠 영역 스타일 */
/*
.content {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
*/

.content {
  max-width: 500px; /* 필요에 따라 조정할 수 있습니다. */
  margin: 2rem auto; /* 상단과 하단의 마진을 유지하고 좌우 마진은 자동으로 설정하여 중앙에 배치합니다. */
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* 폼 스타일 */
form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="email"]:focus, input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

/* 버튼 스타일 */
button[type="submit"] {
  padding: 0.6rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* 오류 메시지 스타일 */
p[style="color: red;"] {
  margin-bottom: 1rem;
  font-weight: bold;
}