<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>둑며들다|학습등록 상세페이지</title>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/edupost/eduboardupdate.css}">
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/admin_sidebar :: admin_sidebarFragment}"></div>
    <div class="content-wrap">
        <h2 class="head">학습자료 수정</h2>
        <form id="saveForm" th:action="@{|/edupost/update/${edupost_no}|}" method="post" autocomplete="off"
              enctype="multipart/form-data">
            <input type="hidden" id="id" name="id" th:if="${post != null}" th:value="${post.edupost_no}"/>
            <input type="hidden" id="removeFileIds" name="removeFileIds"/>
            <div class="OOO">
                <div class="opt">
                    <label for="edupost_title" style="font-size: 16px;">학습자료명</label>
                    <input type="text" class="texarea1" th:value="${post.edupost_title}" id="edupost_title"
                           name="edupost_title"/>
                </div>
                <div class="opt">
                    <label for="edupost_category" style="font-size: 16px;">자료구분</label>
                    <select id="edupost_category" class="edupost_category" th:value="${post.edupost_category}"
                            name="edupost_category">
                        <option value="튜토리얼">튜토리얼</option>
                        <option value="교육영상">교육영상</option>
                    </select>
                </div>
                <div class="opt">
                    <label for="edupost_type" style="font-size: 16px;">자료유형</label>
                    <select id="edupost_type" class="edupost_type" name="edupost_type" th:value="${post.edupost_type}">
                        <option value="묘수풀이">묘수풀이</option>
                        <option value="사활">사활</option>
                        <option value="영토">영토</option>
                    </select>
                </div>
                <div class="opt">
                    <label for="edupost_fileadd" style="font-size: 16px;">자료file주소</label>
                    <input class="texarea1" type="text" th:value="${post.edupost_fileadd}" id="edupost_fileadd"
                           name="edupost_fileadd"/>
                </div>
                <div class="opt">
                    <label for="edupost_service" style="font-size: 16px;">서비스구분</label>
                    <select class="edupost_service" id="edupost_service" th:value="${post.edupost_service}"
                            name="edupost_service">
                        <option value="유료">유료</option>
                        <option value="무료">무료</option>
                    </select>
                </div>
                <div class="opt">
                    <label for="edupost_content" style="font-size: 16px;">자료 내용</label>
                    <textarea class="texarea2" id="edupost_content" th:text="${post.edupost_content}"
                              name="edupost_content"></textarea>
                </div>
            </div>
            <div class="file_list" style="display: flex; flex-direction: column; width: 100%;" >
            <div class="file_input">
               <input class="fileup" value="첨부파일" placeholder="첨부파일" style="margin: 0;"/>
                <label class="fileselect" style="font-size: 15px;"> 파일등록
                    <input type="file" class="fileup" id="files" name="files" onchange="selectFile(this);" />
                </label>
                <button type="button" onclick="addFile();" class="btns_fn_add_btn" style="position: relative; right: 232px;"><span>파일 추가</span></button>
            </div>
            <div class="file_list" style="margin-left: 100px;" th:each="fileList : ${fileList}">
                <div style="display: flex;">
                    <div class="file_li" style="width: 360px;">
                        <label style="width: 300px;">파일명
                            <input type="text" th:value="${fileList.edupost_name}" style="border: none; background: none;" readonly />
                        </label>
                    </div>
                <button type="button" th:onclick="remove([[${fileList.filepost_no}]]);" class="btns_del_btn" style="position: relative; left: -23px; width: 80px; height: 35px;">삭제</button>
                </div>
            </div>
            <div class="addfile-wrap" style="display: flex; margin: 0; flex-direction: column;">
            </div>
            </div>
            <button type="submit" id="saveBtn" class="btn_sub">저장하기</button>
        </form>
        <script type="text/javascript" th:src="@{/js/admin/edupost/function.js}"></script>
        <script type="text/javascript" th:src="@{/js/admin/edupost/common.js}"></script>
    </div>
</div>
</body>
<script th:inline="javascript">
    $("#file").on('change',function(){
        var fileName = $("#file").val();
        $(".fileup").val(fileName);
    });
    // 파일 선택
    function selectFile(element) {
        const file = element.files[0];
        const filename = element.closest('.file_input').firstElementChild;

        // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
        if (!file) {
            filename.value = '';
            return false;
        }

        // 2. 파일 크기가 10MB를 초과하는 경우
        const fileSize = Math.floor(file.size / 1024 / 1024);
        if (fileSize > 10) {
            alert('10MB 이하의 파일로 업로드해 주세요.');
            filename.value = '';
            element.value = '';
            return false;
        }

        // 3. 파일명 지정
        filename.value = file.name;
    }
    // 파일 추가
    function addFile() {
        const fileDiv = document.createElement('div');
        fileDiv.innerHTML = `
             <div class="file_list" style="display: flex; width: 431px; align-items: center;">
                <div class="file_input" style="position: relative; right: 196px;">
                    <input class="fileup" value="첨부파일" placeholder="첨부파일"/>
                <label class="fileselect">파일 등록
                    <input class="fileup" type="file" name="files" onchange="selectFile(this);"/>
                </label>
            </div>
            <button type="button" onclick="removeFile(this);" class="btns_del_btn" style="position: relative; right: 189px; width: 83px; height: 35px;"><span>삭제</span></button>
            </div>
                `;
        document.querySelector('.addfile-wrap').appendChild(fileDiv);
    }
    // 파일 삭제
    function removeFile(element) {

        // 2. 파일 영역 초기화 & 삭제
        const fileAddBtn = element.nextElementSibling;
        if (fileAddBtn) {
            const inputs = element.previousElementSibling.querySelectorAll('input');
            inputs.forEach(input => input.value = '')
            return false;
        }
        element.parentElement.remove();
    }
    function remove(file_no) {
        console.log(file_no);

        $.ajax({
            type: 'POST',
            url: '/edupost/filedelete',
            data: {file_no: file_no},
            dataType: 'text',
            success: function (response) {
                if (response === "success") {
                    alert('삭제가 완료 되었습니다.');
                    location.reload();
                } else {
                    alert('삭제에 실패했습니다.');
                }
            },
            error: function () {
                alert('삭제중 오류로 인해 실패했습니다.');
            }
        });
    }
</script>
</html>