<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>둑며들다|학습등록 상세페이지</title>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/edupost/eduboard.css}">
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/admin_sidebar :: admin_sidebarFragment}"></div>
    <div class="content-wrap">
<h2 class="head" th:text="${post.edupost_title}"></h2>
        <div class="OOO">
            <div class="opt">
                <label for="edupost_title" style="font-size: 16px;">학습자료명</label>
                <input type="text" class="texarea1" th:value="${post.edupost_title}" id="edupost_title" name="edupost_title" style="text-align: center;" readonly/>
            </div>
            <div class="opt">
                <label for="edupost_category" style="font-size: 16px;">자료구분</label>
                <input class="edupost_category" id="edupost_category" th:value="${post.edupost_category}" name="edupost_category" readonly/>
            </div>
            <div class="opt">
                <label for="edupost_type" style="font-size: 16px;">자료유형</label>
                <input class="edupost_type" id="edupost_type" name="edupost_type" th:value="${post.edupost_type}" readonly/>
            </div>
            <div class="opt">
                <label for="edupost_fileadd" style="font-size: 16px;">자료file주소</label>
                <input class="texarea1" type="text" th:value="${post.edupost_fileadd}" id="edupost_fileadd" name="edupost_fileadd" style="text-align: center;" readonly/>
            </div>
            <div class="opt">
                <label for="edupost_service" style="font-size: 16px;">서비스구분</label>
                <input class="edupost_service" id="edupost_service" th:value="${post.edupost_service}" name="edupost_service" readonly />
            </div>
            <div class="opt">
                <label for="edupost_content" style="font-size: 16px;">자료 내용</label>
                <textarea class="texarea2" id="edupost_content" th:text="${post.edupost_content}" name="edupost_content" readonly></textarea>
            </div>
        </div>
            <div class="contain">
                <table class="tb tb_row">
                    <tbody>
                        <tr>
                            <th scope="row">첨부파일</th>
                            <td id="files" colspan="3">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="btn_box">
        <!--         <a th:href="@{|/edupost/update/${edupost_no}|}" class="btn_update">수정하기</a>-->
                 <button type="button" onclick="updatepage()" sec:authorize="hasRole('ROLE_ADMIN')" class="btn_update"><span>수정하기</span></button>
                 <button type="button" onclick="deleteFile();" sec:authorize="hasRole('ROLE_ADMIN')" class="btn_del"><span>삭제하기</span></button>
                </div>
<script th:src="@{/js/admin/edupost/function.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/edupost/common.js}"></script>
    </div>
</div>
</body>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
<script>
    function updatepage() {
        var edupost_no = [[${edupost_no}]];
        var url = "/edupost/update/" + edupost_no;
        window.location.href = url;
    }

    window.onload = () => {
        findAllFile();

    }
    //전체 파일 조회
    function findAllFile() {

        // 1. API 호출
        const edupost_no = [[ ${edupost_no}]];
        const response = getJson(`/eduposts/${edupost_no}/files`);

        // 2. 로직 종료
        if ( !response.length ) {
            return false;
        }

        // 3. 파일 영역 추가
        let fileHtml = '<div class="file_down"><div class="cont">';
        response.forEach(row => {
            fileHtml += '<a style="margin-bottom: 10px; margin-left: 15px;" href="/eduposts/' + edupost_no + '/files/' + row.filepost_no + '/download" download="' + row.edupost_name + '"><span class="icons"><i class="fas fa-folder-open"></i></span>' + row.edupost_name + '</a>';


        })
        fileHtml += '</div></div>';

        // 4. 파일 HTML 렌더링
        document.getElementById('files').innerHTML = fileHtml;
    }
    function deleteFile() {
        const id = [[${edupost_no}]];

        if (!confirm(id + '번 게시글을 삭제할까요?')) {
            return false;
        }
            // AJAX를 사용하여 서버로 게시물 삭제 요청을 보냅니다.
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/edupost/delete/' + id, true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // 게시물 삭제에 성공한 경우에 대한 처리를 추가하세요.
                    window.location.href = '/edupost/list';
                }
            };
            xhr.send();
        }

</script>
</html>