<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>학습자료등록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/edupost/eduboard.css}">
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/notice/noticeWrite.css}">
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/notice_sidebar :: notice_sidebarFragment}"></div>
    <div class="content-wrap">
        <h2>학습자료 등록창</h2>
        <form id="saveForm" th:action="@{/edupost/insert}" method="post" autocomplete="off" enctype="multipart/form-data">
            <input type="hidden" id="edupost_no" name="edupost_no" th:value="${edupost_no}"/>
            <input type="hidden" id="edupost_date" name="edupost_date" th:value="${edupost_date}"/>
            <div class="content_in">
            <div>
                <label for="edupost_title" class="">학습자료명</label>
                <input type="text" id="edupost_title" name="edupost_title"/>
            </div>
            <div>
                <label for="edupost_category">자료구분</label>
                <select id="edupost_category" name="edupost_category" class="">
                    <option value="튜토리얼">튜토리얼</option>
                    <option value="교육영상">교육영상</option>
                </select>
            </div>
            <div>
                <label for="edupost_type">자료유형</label>
                <select id="edupost_type" name="edupost_type" class="">
                    <option value="묘수풀이">묘수풀이</option>
                    <option value="사활">사활</option>
                    <option value="영토">영토</option>
                </select>
            </div>
            <div>
                <label for="edupost_fileadd">자료file주소</label>
                <input type="text" id="edupost_fileadd" name="edupost_fileadd"/>
            </div>
            <div>
                <label for="edupost_service">서비스구분</label>
                <select id="edupost_service" name="edupost_service" class="">
                    <option value="유료">유료</option>
                    <option value="무료">무료</option>
                </select>
            </div>
            <div>
                <label for="edupost_content">자료 내용</label>
                <textarea id="edupost_content" name="edupost_content"></textarea>
            </div>
            <div>
                <input type="text" id="member_id" name="member_id" value="dumy">
            </div>
            <div class="file_list">
                <div class="file_input">
                    <input type="text" readonly />
                    <label> 첨부파일
                        <input type="file" name="files" onchange="selectFile(this);" />
                    </label>
                </div>
                <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                <button type="button" onclick="addFile();" class="btns fn_add_btn"><span>파일 추가</span></button>
            </div>
            <input type="submit">
            </div>
        </form>
</body>
<script>
    // 파일 선택
    function selectFile(element) {

        const file = element.files[0];
        const filename = element.closest('.file_input').firstElementChild;

        // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
        if ( !file ) {
            filename.value = '';
            return false;
        }

        // 2. 파일 크기가 10MB를 초과하는 경우
        const fileSize = Math.floor(file.size / 1024 / 1024);
        if (fileSize > 10) {
            alert('10MB 이하의 파일로 업로드해 주세요.');
            filename.value = '';
            element.value = '';
            return false;
        }

        // 3. 파일명 지정
        filename.value = file.name;
    }


    // 파일 추가
    function addFile() {
        const fileDiv = document.createElement('div');
        fileDiv.innerHTML =`
                    <div class="file_input">
                        <input type="text" readonly />
                        <label> 첨부파일
                            <input type="file" name="files" onchange="selectFile(this);" />
                        </label>
                    </div>
                    <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                `;
        document.querySelector('.file_list').appendChild(fileDiv);
    }


    // 파일 삭제
    function removeFile(element) {
        const fileAddBtn = element.nextElementSibling;
        if (fileAddBtn) {
            const inputs = element.previousElementSibling.querySelectorAll('input');
            inputs.forEach(input => input.value = '')
            return false;
        }
        element.parentElement.remove();
    }

</script>
</html>