<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>둑며들다|회원목록</title>
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/edupost/eduboardlist.css}">
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/admin_sidebar :: admin_sidebarFragment}"></div>
    <div class="content-wrap">
        <div id="bbsList">

            <div id="bbsList_title">
                <h2 class="head">회원목록</h2>
            </div>
            <div id="bbsList_header">
                <div id="leftHeader">
                    <form id="searchForm" th:action="@{/member/list}" method="get" name="searchForm">
                        <input type="date" id="startDate" name="startDate"> <!-- 시작 날짜 -->
                        ~
                        <input type="date" id="endDate" name="endDate"> <!-- 종료 날짜 -->
                        <select name="searchType" class="selectField" title="검색 유형 선택">
                            <option value="" th:classappend="${(searchType == '') ? 'selected' : ''}" >조건검색</option>
                            <option value="member_id" th:classappend="${(searchType == 'member_id') ? 'selected' : ''}">아이디</option>
                            <option value="member_phone" th:classappend="${(searchType == 'member_phone') ? 'selected' : ''}">연락처</option>
                            <option value="member_name" th:classappend="${(searchType == 'member_name') ? 'selected' : ''}">이름</option>
                        </select>

                        <select name="searchType2" class="selectField" title="검색 유형 선택">
                            <option value="" th:classappend="${(searchType == 'role') ? 'selected' : ''}">전체(구분)</option>
                            <option value="ROLE_TEACHER">교육자</option>
                            <option value="ROLE_STUDENT">학습자</option>
                            <option value="ROLE_USER">일반인</option>
                            <option value="ROLE_ADMIN">운영자</option>
                        </select>

                        <select name="searchType3" class="selectField" title="검색 유형 선택">
                            <option value="" th:classappend="${(searchType == 'license') ? 'selected' : ''}">전체(자격)</option>
                            <option value="무료">무료</option>
                            <option value="유료">유료</option>
                        </select>

                        <input type="text" name="keyword" class="textField"/>
                        <input type="submit" value=" 검 색 " class="btn2"/>
                    </form>
                </div>
            </div>

            <div id="bbsList_list">
                <table>
                    <thead id="title">
                    <tr>
                        <th class="num">No</th>
                        <th class="subject">구분</th>
                        <th class="type">성명</th>
                        <th class="eduname">아이디</th>
                        <th class="user">연락처</th>
                        <th class="email">이메일</th>
                        <th class="buyer">자격</th>
                        <th class="createdate">가입일자</th>
<!--                        <th class="read">확인</th>-->
                    </tr>
                    </thead>
                    <tbody id="list">
                    <th:block th:if="${#lists.isEmpty(memberPageDTO.memberList)}">
                        <tr>
                            <td colspan="6">등록된 학습자료가 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:if="${not #lists.isEmpty(memberPageDTO.memberList)}">
                        <tr class="tr-list"  th:each="list, index : ${memberPageDTO.memberList}">
                            <td id="no" th:text="${index.index + memberPageDTO.startIndex + 1}"></td>
                            <td id="role" th:text="${list.role}">구분</td>
                            <td id="membername" th:text="${list.member_name}">성명</td>
<!--                            <td id="member_id" th:text="${list.member_id}">아이디-->
                            <td>
                                <a class="member-link" th:href="@{|/detail/${list.member_id}|}" data-member-id="${list.member_id}">
                                    <span class="" th:text="${list.member_id}"></span>
                                </a>
                            </td>
                            <td id="phone" th:text="${list.member_phone}">연락처</td>
                            <td id="e_mail" th:text="${list.member_email}">이메일</td>
                            <td id="license" th:text="${list.license}">자격</td>
                            <td id="joindate" th:text="${list.join_date}">가입일자</td>
                  <!--          <td>
                                <input type="button" value="상세보기" th:onclick="|location.href='@{/detail/${list.member_id}}'|" />
                            </td>-->
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div class="pagination">
                    <div class="paging">
                        <div class="text-center clearfix">
                            <div class="pagingNum">
                                <ul class="pagination-container" id="pagination">
                                    <li th:if="${memberPageDTO.startPage > 5}" class="page-item">
                                        <a class="page-link" th:with="prevPage=${memberPageDTO.startPage - 1}" th:href="@{/member/list(page=${prevPage}, startDate=${startDate != null ? #dates.format(startDate, 'yyyy-MM-dd') : null}, endDate=${endDate != null ? #dates.format(endDate, 'yyyy-MM-dd') : null}, searchType=${searchType}, searchType2=${searchType2}, searchType3=${searchType3}, keyword=${keyword})}"><</a>
                                    </li>
                                    <li th:if="${pageNum > 0}" th:each="pageNum : ${#numbers.sequence(memberPageDTO.startPage, memberPageDTO.endPage)}" class="page-item">
                                        <a th:href="@{/member/list(page=${pageNum}, startDate=${startDate != null ? #dates.format(startDate, 'yyyy-MM-dd') : null}, endDate=${endDate != null ? #dates.format(endDate, 'yyyy-MM-dd') : null}, searchType=${searchType}, searchType2=${searchType2}, searchType3=${searchType3}, keyword=${keyword})}" class="page-link" th:classappend="${currentPage == pageNum} ? 'active-page' : ''"><span th:text="${pageNum}"></span></a>
                                    </li>
                                    <li th:if="${memberPageDTO.endPage < memberPageDTO.totalPages}" class="page-item">
                                        <a class="page-link" th:with="nextPage=${memberPageDTO.startPage + 5}" th:href="@{/member/list(page=${nextPage}, startDate=${startDate != null ? #dates.format(startDate, 'yyyy-MM-dd') : null}, endDate=${endDate != null ? #dates.format(endDate, 'yyyy-MM-dd') : null}, searchType=${searchType}, searchType2=${searchType2}, searchType3=${searchType3}, keyword=${keyword})}">></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                </div>

            </div>
        </div>
        <script th:src="@{/js/admin/edupost/function.js}"></script>
        <script type="text/javascript" th:src="@{/js/admin/edupost/common.js}"></script>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function (events) {
        function fetchData() {
            var startDate = document.getElementById("startDate").value;
            var endDate = document.getElementById("endDate").value;

            // startDate, endDate 중 하나라도 비어있을 경우에 알림 메시지 표시 및 폼 제출 방지
            if (!startDate || !endDate) {
                alert("날짜를 선택해주세요.");
                event.preventDefault(); // 폼의 기본 제출을 방지
                return; // 이후 로직 실행을 중단
            }

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);

                    // 조회 결과를 동적으로 표시
                    updateContentsList(response);
                }
            };
            var url = "http://localhost:8800/list?startDate=" + encodeURIComponent(startDate) + "&endDate=" + encodeURIComponent(endDate);
            xhr.open("GET", url, true);
            xhr.send();
        }

        const startDateInput = document.getElementById('startDate');

        const endDateInput = document.getElementById('endDate');


        startDateInput.addEventListener('change', function () {

            const startDateValue = startDateInput.value;


            endDateInput.setAttribute('min', startDateValue);

        });
        window.onload = function () {
            var dateDiffs = document.querySelectorAll('.dateDiff');

            dateDiffs.forEach(function (element) {
                var date1 = new Date(element.getAttribute('data-enddate'));
                var date2 = new Date(element.getAttribute('data-startdate'));

                var diff = Math.abs(date1.getTime() - date2.getTime());
                var diffMonths = Math.floor(diff / (1000 * 60 * 60 * 24 * 30.44));
                var diffDays = Math.floor(diff / (1000 * 60 * 60 * 24)) % 30.44;

                if (diffMonths === 0) {
                    element.innerText = diffDays + "일";
                } else {
                    element.innerText = diffMonths + "개월 " + diffDays + "일";
                }
            });
        }
    });
</script>
</body>
</html>