<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>둑며들다|컨텐츠 소개</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/guide/contents/ContentsVideo.css}">
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/guide_sidebar :: guide_sidebarFragment}"></div>
    <div class="content-wrap">
        <div class="main-content">

            <div class="first-contents">
                <div class="imgbox">
                    <!-- 이미지 슬라이더 -->
                    <div class="image-slider">
                        <img src="../image/guide/video/바둑영상1.jpg" alt="바둑영상1">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>
                <div class="contents-title">
                    <span class="title"> 바둑영상명: 렛츠고 창의인성 바둑스쿨 </span><br>
                    <span>튜토리얼에 이어서 제공되는 교육영상입니다. 바둑을 처음 접하는 아이들도 쉽게 배울 수 있도록 애니메이션
                    및 게임을 통해 바둑의 기초와 원리를 배우고 연습문제를 풀어보며 실력을 키울 수 있도록 구성되어 있습니다.
                    게임콘텐츠를 구매한 모든회원에 제공됩니다.</span>
                </div>
            </div>

            <div class="second-contents">
                <div class="imgbox">
                    <!-- 이미지 슬라이더 -->
                    <div class="image-slider">
                        <img src="../image/guide/video/바둑영상2.jpg" alt="바둑영상2">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>
                <div class="contents-title">
                    <span class="title"> 바둑영상명: 바둑입문 </span><br>
                    <span>평소 바둑에 관심이 있거나 바둑 입문에 도전하고 싶으신 분, 바둑관련 용어, 기술 등에 대한 기본기를
                    탄탄히 다지고 싶으신 분들을 위한 맞춤 강좌입니다. 이해하기 쉬운 설명으로 학습에 흥미를 가지고 즐겁게 들으실 수 있습니다.
                    본 강의는 영토 스테이지 또는 사활 스테이지 게임콘텐츠를 구매하거나 도전의 탑 게임콘텐츠를 구매한 회원에 한해 제공됩니다.</span>
                </div>
            </div>
            <div class="third-contents">
                <div class="imgbox">
                    <!-- 이미지 슬라이더 -->
                    <div class="image-slider">
                        <img src="../image/guide/video/바둑영상3.jpg" alt="바둑영상3">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>

                <div class="contents-title">
                    <span class="title"> 바둑영상명: 단 10분 만에 배우는 바둑격언, 위기십결 </span><br>
                    <span>중국 당 현종때 바둑의 고수 왕적신이 바둑을 둘 때 명심해야 할 10가지를 위기십결이라고 가르쳐 준 것으로
                    우리의 인생을 살아감에 있어서도 많은 도움이 되는 명언을 풀이한 영상입니다. 바둑을 통한 삶의 지혜를 얻을 수 있는
                    유용한 영상입니다. 본 영상은 인공지능 대국 또는 일일퀘스트 게임콘텐츠 구매회원에 한해 제공됩니다.</span>
                </div>
            </div>
            <div class="fourth-contents">
                <div class="imgbox">
                    <!-- 이미지 슬라이더 -->
                    <div class="image-slider">
                        <img src="../image/guide/video/바둑영상8.jpg" alt="바둑영상8">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>

                <div class="contents-title">
                    <span class="title"> 바둑영상명: 창의인성 바둑교과서 강의 지도안 </span><br>
                    <span>게임콘텐츠를 구매한 강사님께 제공되는 바둑교과서 강의 지도안 영상으로 바둑 교과서 제작 의도 및 활용
                    방법, 렛츠고 바둑스쿨 애니메이션 활용방법 등으로 구성되어 있습니다.</span>
                </div>
            </div>
            <div class="fifth-contents">
                <div class="imgbox">
                    <!-- 이미지 슬라이더 -->
                    <div class="image-slider">
                        <img src="../image/guide/video/바둑영상7.jpg" alt="바둑영상7">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>

                <div class="contents-title">
                    <span class="title"> 바둑영상명: 키즈바둑 </span><br>
                    <span>어린이 교육 목적으로 제작된 바둑영상으로 온라인에서 신나고 재미있게 바둑에 대한 이야기를 통해 바둑교육과,
                        기초를 배우고 생각하는 힘을 길러 두뇌개발에 도움이 되고, 대국준비와 대국에 대한 방법을 배우면서 생각하는 즐
                        거움, 집중하는 습관, 건전한 승부욕을 올바르게 리드해 줄 강좌입니다. 해당 영상은 게임콘텐츠를 6세~12세
                        학생들에게 제공됩니다.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>
