<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>사이트 제목</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/guide/contents/ContentsTutorial.css}">
    <div th:replace="~{common/fragments/config :: configFragment}"></div>
</head>
<body>
<div th:replace="~{common/fragments/header :: headerFragment}"></div>
<div class="content">
    <div th:replace="~{common/sidebar/guide_sidebar :: guide_sidebarFragment}"></div>
    <div class="content-wrap">
        <div class="main-content">

            <div class="first-contents">
                <div class="imgbox">
                    <!-- 이미지 슬라이더 -->
                    <div class="image-slider">
                        <img src="../image/guide/tutorial/바둑튜토리얼7.jpg" alt="바둑튜토리얼7">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>
                <div class="contents-title">
                    <span> 튜토리얼명: 렛츠고 창의인성 바둑스쿨 </span><br>
                    <span>바둑판에 대한 설명과 어디에 두어야 하는지, 활로와 단수, 바둑의 집 짓기, 바둑의 포로 잡기,
                    바둑의 착수금지에 대한 기초설명으로 누구나 바둑에 도전할 수 있습니다.</span>
                </div>
            </div>

            <div class="second-contents">
                <div class="imgbox">
                    <!-- 이미지 슬라이더 -->
                    <div class="image-slider">
                        <img src="../image/guide/tutorial/바둑튜토리얼1.jpg" alt="바둑튜토리얼1">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>
                <div class="contents-title">
                    <span> 튜토리얼명: 단 10분 만에 바둑 기초 배우기 </span><br>
                    <span>바둑판에 대한 설명과 어디에 두어야 하는지, 활로와 단수, 바둑의 집 짓기, 바둑의 포로 잡기,
                    바둑의 착수금지에 대한 기초설명으로 누구나 바둑에 도전할 수 있습니다.</span>
                </div>
            </div>
            <div class="third-contents">
                <div class="imgbox">
                    <!-- 이미지 슬라이더 -->
                    <div class="image-slider">
                        <img src="../image/guide/tutorial/바둑튜토리얼3.jpg" alt="바둑튜토리얼3">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>

                <div class="contents-title">
                    <span> 튜토리얼명: 키즈바둑 </span><br>
                    <span>어린이 교육목적으로 만든 바둑기초 튜토리얼입니다. 총6강으로 되어 있으며 바둑에 대한 기초
                    를 배워 생각하는 힘을 기를 수 있어 어린이 두뇌개발에 효과적입니다. 또한 대국을 통해 자기 절제를 배우며,
                    생각하는 즐거움, 집중하는 습관, 건전한 승부욕을 올바르게 이끌어 줄 바른교육을 지향합니다.</span>
                </div>
            </div>

            <div class="fourth-contents">
                <div class="imgbox">
                    <!-- 이미지 슬라이더 -->
                    <div class="image-slider">
                        <img src="../image/guide/tutorial/바둑튜토리얼8.jpg" alt="바둑튜토리얼8">
                        <!-- 추가 이미지를 넣을 수 있습니다 -->
                    </div>
                </div>

                <div class="contents-title">
                    <span>게임명: 바둑 입문강좌 </span><br>
                    <span>10분 만에 바둑기초를 마스터할 수 있는 강좌입니다. 바둑판위 명칭과 바둑에 대한 소개,
                        집의 개념, 바둑규칙, 마지막으로 완생의 개념에 대해 설명하면서 누구나 부담없이 바둑에 다가가 배울 수
                        있는 기회를 제공하고 있습니다.

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{common/fragments/footer :: footerFragment}"></div>
</body>
</html>
